= form_for([:admin, @subcategory ], :validate => true, :html => { :class => "form-horizontal" }) do |f|
  - if @subcategory.errors.any?
    #error_explanation
      %h2
        = pluralize(@subcategory.errors.count, "error")
        prohibited this subcategory from being saved:
      %ul
        - @subcategory.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name, t(:name, :default => "name").capitalize, :class => "control-label"
    .controls
      = f.text_field :name
  .control-group
    = f.label :enabled, t(:enabled, :default => "enabled").capitalize, :class => "control-label"
    .controls
      = f.check_box :enabled
  .control-group
    = f.label :category, t(:category, :default => "category").capitalize, :class => "control-label"
    .controls
      = f.collection_select :category_id, Category.all, :id, :caption, :include_blank => true
  / Beautiful_scaffold - AddField - Do not remove
  .form-actions
    = f.submit :class => "btn btn-primary"
