%h2
  = t(:show, :default => "Show")
  = t(:subcategory, :default => "subcategory")
%p
  %b
    = t(:name, :default => "Name")
    \:
  = @subcategory.name
%p
  %b
    = t(:enabled, :default => "Enabled")
    \:
  = t((@subcategory.enabled ? "yes".to_sym : "no".to_sym))
%p
  %b
    = t(:category, :default => "Category")
    \:
  = (@subcategory.category.nil? ? "" : @subcategory.category.caption)
/ Beautiful_scaffold - AddField - Field - Do not remove
= link_to t(:edit, :default => "Edit"), edit_admin_subcategory_path(@subcategory), :class => "btn"
= link_to t(:back, :default => "Back"), admin_subcategories_path, :class => "btn"
