%h2
  = t(:treeview, :default => 'Treeview')
  = t(:subcategory, :default => "subcategory")
#treeview
  %ul
    - Subcategory.transaction do
      - ar = Subcategory.where(:subcategory_id => nil)
      - ar = ar.order("position") if Subcategory.column_names.include?("position")
      - for g in ar.all
        = build_treeview(g, 'subcategories')
- namespace_for_url = "admin/"
- plural_model_name = "subcategories"
- model_name        = "subcategory"
- opened_node       = Subcategory.select(:id).all.map{ |g| '"treeelt_' + g.id.to_s + '"' }.join(',').html_safe
= render :partial => "layouts/treeview_js", :locals => { :model_name => model_name, :plural_model_name => plural_model_name, :opened_node => opened_node, :namespace_for_url => namespace_for_url }
