- @cat1.each do |cat|
  %li.dropdown
    %a.btn.btn-primary.dropdown-toggle.nopjax{"data-toggle" => "dropdown", :href => "#"}
      = cat.name
      \&nbsp;
      %b.caret
    %ul.dropdown-menu.span6
      %li.column-menu.span3.firstcolumn
        %ul
          - cat.subcategories.limit(@subcatlength).each do |s|
            %li
              = link_to s.name, details_admin_swapitem_path(:id => s.id, :category_id => cat.id)
      %li.column-menu.span3
        %ul
          - cat.subcategories.limit(@subcatlength).offset(@subcatlength).each do |s|
            %li
              = link_to s.name, details_admin_swapitem_path(:id => s.id, :category_id => cat.id)
      %li.column-menu.span3
        %ul
          - cat.subcategories.offset(@subcatlength*2).each do |s|
            %li
              = link_to s.name, details_admin_swapitem_path(:id => s.id, :category_id => cat.id)
%br/
- @cat2.each do |cat|
  %li.dropdown
    %a.btn.btn-primary.dropdown-toggle.nopjax{"data-toggle" => "dropdown", :href => "#"}
      = cat.name
      \&nbsp;
      %b.caret
    %ul.dropdown-menu.span6
      %li.column-menu.span3.firstcolumn
        %ul
          - cat.subcategories.limit(@subcatlength).each do |s|
            %li
              = link_to s.name, details_admin_swapitem_path(:id => s.id, :category_id => cat.id)
      %li.column-menu.span3
        %ul
          - cat.subcategories.limit(@subcatlength).offset(@subcatlength).each do |s|
            %li
              = link_to s.name, details_admin_swapitem_path(:id => s.id, :category_id => cat.id)
      %li.column-menu.span3
        %ul
          - cat.subcategories.offset(@subcatlength*2).each do |s|
            %li
              = link_to s.name, details_admin_swapitem_path(:id => s.id, :category_id => cat.id)
%br/
- @cat3.each do |cat|
  %li.dropdown
    %a.btn.btn-primary.dropdown-toggle.nopjax{"data-toggle" => "dropdown", :href => "#"}
      = cat.name
      \&nbsp;
      %b.caret
    %ul.dropdown-menu.span6
      %li.column-menu.span3.firstcolumn
        %ul
          - cat.subcategories.limit(@subcatlength).each do |s|
            %li
              = link_to s.name, details_admin_swapitem_path(:id => s.id, :category_id => cat.id)
      %li.column-menu.span3
        %ul
          - cat.subcategories.limit(@subcatlength).offset(@subcatlength).each do |s|
            %li
              = link_to s.name, details_admin_swapitem_path(:id => s.id, :category_id => cat.id)
      %li.column-menu.span3
        %ul
          - cat.subcategories.offset(@subcatlength*2).each do |s|
            %li
              = link_to s.name, details_admin_swapitem_path(:id => s.id, :category_id => cat.id)
