= form_for([:admin, @swapitem ], :validate => true, :html => { :class => "form-horizontal" }) do |f|
  .control-group
    = f.label :name, t(:name, :default => "name").capitalize, :class => "control-label"
    .controls
      = f.text_field :name
  .control-group
    = f.label :description, t(:description, :default => "description").capitalize, :class => "control-label"
    .controls
      = f.text_area :description, :rows => "10"
  = f.hidden_field :description_typetext, :value => "html"
  :javascript
    $('.wysiwyg-editor').wysihtml5({"html": true});
  .control-group
    = f.label :coins, t(:coins, :default => "coins").capitalize, :class => "control-label"
    .controls
      / <haml:loud> f.number_field :coins </haml:loud>
      #valueCoins
        = @swapitem.coins
      #mycoins
      = f.hidden_field :coins, :value => @swapitem.coins
  .control-group
    = f.label :subcategory, t(:category, :default => "subcategory").capitalize, :class => "control-label"
    .controls
      / <haml:loud> f.collection_select :subcategory_id, Category.all, :id, :caption, :include_blank =&amp;gt; true </haml:loud>
      - if @swapitem.subcategory
        = f.hidden_field :category_id, :value => @swapitem.category_id
        = f.hidden_field :subcategory_id, :value => @swapitem.subcategory_id
        = f.text_field 'subcategory_name', :disabled => true, :value => @swapitem.subcategory.name
      - else
        = f.hidden_field :category_id, :value => ''
        = f.hidden_field :subcategory_id, :value => ''
        = f.text_field 'subcategory_name', :disabled => true, :value => ''
      %br/
      %br/
      %ul#dropdownedit
        = render "catcolumnsedit"
  / Beautiful_scaffold - AddField - Do not remove
  .form-actions
    = f.submit :class => "btn btn-primary"
