- content_for :title, "Swapitems"
- content_for :submenu do
  - render "layouts/submenu_swapitems"
%i.icon-caret-right
= @catname
%i.icon-caret-right
= @subcatname
%br/
%br/
= form_for([:admin, @swapitem ], :html => { :class => "form-horizontal" }) do |f|
  /
    <haml:silent> if @swapitem.errors.any? </haml:silent><haml:block>
    <div id="error_explanation">
    <h2>
    <haml:loud> pluralize(@swapitem.errors.count, &amp;quot;error&amp;quot;) </haml:loud> prohibited this swapitem from being saved:
    </h2>
    <ul>
    <haml:silent>		 @swapitem.errors.full_messages.each do |msg|
    </haml:silent><haml:block>		<li>
    <haml:loud> msg </haml:loud>
    </li></haml:block>
    </ul>
    </div>
    </haml:block>
  .control-group
    = f.label :name, t(:name, :default => "name*").capitalize, :class => "control-label"
    .controls
      = f.text_field :name
  .control-group
    = f.label :description, t(:description, :default => "description").capitalize, :class => "control-label"
    .controls
      = f.text_area :description, :rows => "10"
  = f.hidden_field :description_typetext, :value => "html"
  :javascript
    $('.wysiwyg-editor').wysihtml5({"html": true});
  .control-group
    = f.label :coins, t(:coins, :default => "coins").capitalize, :class => "control-label"
    .controls
      / <haml:loud> f.number_field :coins </haml:loud>
      #valueCoins
        = @swapitem.coins
      #mycoins
      = f.hidden_field :coins, :value => @swapitem.coins
  / <haml:loud> f.collection_select :subcategory_id, Category.all, :id, :caption, :include_blank =&amp;gt; true </haml:loud>
  = f.hidden_field :subcategory_id, :value => @subcatid
  = f.hidden_field :category_id, :value => @catid
  = fields_for @tester do |t|
    = t.label :name
    = t.text_field :name


  / Beautiful_scaffold - AddField - Do not remove
  .form-actions
    = f.submit :class => "btn btn-primary"
%br/
= link_to t(:back, :default => "Back"), new_admin_swapitem_path, :class => "btn"
