- content_for :title, "Swapitems"
- content_for :submenu do
  - render :partial => "layouts/submenu_swapitems"
%h2
  = t(:editing, :default => 'Editing')
  = t(:swapitem, :default => "swapitem")
= render 'form'
= link_to t(:back, :default => "Back"), admin_swapitems_path, :class => "btn"
