- content_for :title, "Swapitems"
%title= yield (:title)
- content_for :submenu do
  - render "layouts/submenu_swapitems"
%h2
  = t(:listing, :default => "Listing")
  = t(:swapitems, :default => "swapitems")
%p
  = link_to '<i class="icon-plus"></i>'.html_safe + t(:new, :default => "New") + ' ' + t(:swapitem, :default => "swapitem"), new_admin_swapitem_path, :class => "btn"
  - if Swapitem.columns.map(&:name).include?("swapitem_id") then
    = link_to '<i class="icon-folder-close"></i>'.html_safe + t(:treeview, :default => "Treeview") + ' ' + t(:swapitem, :default => "swapitem"), treeview_admin_swapitems_path, :class => "btn"
/ <haml:loud> render :partial =&amp;gt; &amp;quot;layouts/mass_inserting&amp;quot;, :locals =&amp;gt; { :namespace =&amp;gt; 'admin', :model_name =&amp;gt; 'swapitem', :model_columns =&amp;gt; ['name','description','coins'] } </haml:loud>
- scopes = []
- if not scopes.blank? then
  .btn-toolbar
    .btn-group
      = link_to "All (#{@swapitem_scope_for_scope.count})", admin_swapitems_path(:scope => ""), :class => "btn #{((session[:scope][:swapitem].to_s == '') ? 'active' : '')}"
      - for scope in scopes
        = link_to "#{scope} (#{@swapitem_scope_for_scope.send(scope).count})", admin_swapitems_path(:scope => scope), :class => "btn #{((session[:scope][:swapitem].to_s == scope) ? 'active' : '')}"
.row-fluid
  .span9
    = form_tag  batch_admin_swapitems_path, :class => "form-inline" do
      .well.well-small
        %label.control-label{:for => "select01"}= t(:batch, :default => "Batch")
        %select#select01{:name => "actionprocess"}
          %option{:value => "destroy"}= t(:destroy, :default => "Destroy")
          / Beautiful_scaffold - AddField - Batch - Do not remove
        %button.btn{:type => "submit"}
          %i.icon-ok
          = t(:process, :default => "Process")
      = render :partial => "layouts/modal_columns", :locals => { :model_name => "swapitem", :model_columns => ['name','description', 'coins','category','subcategory','created_at','updated_at'] }
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              %a{"data-toggle" => "modal", :href => "#modal-columns", :title => t(:select_columns, :default => "Select Columns")}
                %i.icon-th-list
            %th
              = check_box_tag :checkall, ''
              :javascript
                $('#checkall').click(function(){
                	$('.cbbatch').prop('checked', function (i, value) {
                		return !value;
                	}); 
                });
            <th #{visible_column("swapitem", "name")} class="col-name">
            \#{sorting_header("swapitem", "name", "admin")}
            <th #{visible_column("swapitem", "description")} class="col-description">
            \#{sorting_header("swapitem", "description", "admin")}
            <th #{visible_column("swapitem", "coins")} class="col-coins">
            \#{sorting_header("swapitem", "coins", "admin")}
            <th #{visible_column("swapitem", "category_id")} class="col-category">
            \#{sorting_header("swapitem", "category_id", "admin")}
            <th #{visible_column("swapitem", "subcategory_id")} class="col-subcategory">
            \#{sorting_header("swapitem", "subcategory_id", "admin")}
            / Beautiful_scaffold - AddField - Header - Do not remove
            <th #{visible_column("swapitem", "created_at")} class="col-created_at">
            \#{sorting_header("swapitem", "created_at", "admin")}
            <th #{visible_column("swapitem", "updated_at")} class="col-updated_at">
            \#{sorting_header("swapitem", "updated_at", "admin")}
            %th{:colspan => "3"}
              %label.checkbox
                = check_box_tag :checkallelt, 'all'
                = pluralize(@swapitem_scope.count, "swapitem")
        %tbody
          - @swapitems.each do |swapitem|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td
                / <haml:loud> swapitem.id </haml:loud>
              %td= check_box_tag "ids[]", swapitem.id, false, :class => 'cbbatch'
              <td #{visible_column("swapitem", "name")} class="col-name #{align_attribute("string")}">
              \#{swapitem.name}
              <td #{visible_column("swapitem", "description")} class="col-description #{align_attribute("wysiwyg")}">
              \#{truncate(swapitem.description)}
              <td #{visible_column("swapitem", "coins")} class="col-coins #{align_attribute("integer")}">
              \#{swapitem.coins}
              <td #{visible_column("swapitem", "category_id")} class="col-category #{align_attribute("references")}">
              \#{swapitem.category.name}
              <td #{visible_column("swapitem", "subcategory_id")} class="col-subcategory #{align_attribute("string")}">
              \#{swapitem.subcategory.name}
              / Beautiful_scaffold - AddField - Column - Do not remove
              <td #{visible_column("swapitem", "created_at")} class="col-created_at #{align_attribute("datetime")}">
              \#{l(swapitem.created_at, :format => :long)}
              <td #{visible_column("swapitem", "updated_at")} class="col-updated_at #{align_attribute("datetime")}">
              \#{l(swapitem.updated_at, :format => :long)}
              %td= link_to '<i class="icon-search"></i>'.html_safe, admin_swapitem_path(swapitem)
              %td= link_to '<i class="icon-pencil"></i>'.html_safe, edit_admin_swapitem_path(swapitem)
              %td= link_to '<i class="icon-remove"></i>'.html_safe, admin_swapitem_path(swapitem), :class => "nopjax", :confirm => t(:are_you_sure, :default => "Are you sure?"), :method => :delete
      .btn-toolbar
        .btn-group
          - clean_params
          = will_paginate @swapitems,                            |
            :inner_window => 0,                                  |
            :outer_window => 0,                                  |
            :previous_label => t(:prev, :default => "Previous"), |
            :next_label => t(:next, :default => "Next")          |
        .btn-group.pull-right
          = link_to '<i class="icon-download"></i> CSV'.html_safe,  admin_swapitems_path(:format => :csv), :class => "nopjax btn"
          = link_to '<i class="icon-download"></i> XML'.html_safe,  admin_swapitems_path(:format => :xml), :class => "nopjax btn"
          = link_to '<i class="icon-download"></i> JSON'.html_safe, admin_swapitems_path(:format => :json), :class => "nopjax btn"
          = link_to '<i class="icon-download"></i> PDF'.html_safe,  admin_swapitems_path(:format => :pdf), :class => "nopjax btn"
  .span3
    = search_form_for @q, :url => admin_search_swapitems_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("swapitem", "name", f, "Name")
      = ransack_field("swapitem", "description", f, "Description")
      = ransack_field("swapitem", "category_id", f, "Category")
      / Beautiful_scaffold - AddField - Search - Do not remove
      = f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary"
      = link_to  t(:cancel, :default => "Cancel"), admin_swapitems_path(:nosearch => "ok"), :class => "btn"
