- content_for :title, "Swapitems"
- content_for :submenu do
  - render "layouts/submenu_swapitems"
%h2= t(:selectcategory, :default => 'Please select a category')
%ul#dropdownlist
  = render "catcolumns"
.backlink
  = link_to t(:back, :default => "Back"), admin_swapitems_path, :class => "btn"
