%h2
  = t(:show, :default => "Show")
  = t(:swapitem, :default => "swapitem")
%p
  %b
    = t(:user_id, :default => "User")
    \:
  = @swapitem.user_id
%p
  %b
    = t(:name, :default => "Name")
    \:
  = @swapitem.name
%p
  %b
    = t(:description, :default => "Description")
    \:
  = @swapitem.description
%p
  %b
    = t(:coins, :default => "Coins")
    \:
  = @swapitem.coins
%p
  %b
    = t(:user, :default => "User")
    \:
  = (@swapitem.user.nil? ? "" : @swapitem.user.caption)
%p
  %b
    = t(:category, :default => "Category")
    \:
  = (@swapitem.category.nil? ? "" : @swapitem.category.caption)
/ Beautiful_scaffold - AddField - Field - Do not remove
= link_to t(:edit, :default => "Edit"), edit_admin_swapitem_path(@swapitem), :class => "btn"
= link_to t(:back, :default => "Back"), admin_swapitems_path, :class => "btn"
