%h2
  = t(:treeview, :default => 'Treeview')
  = t(:swapitem, :default => "swapitem")
#treeview
  %ul
    - Swapitem.transaction do
      - ar = Swapitem.where(:swapitem_id => nil)
      - ar = ar.order("position") if Swapitem.column_names.include?("position")
      - for g in ar.all
        = build_treeview(g, 'swapitems')
- namespace_for_url = "admin/"
- plural_model_name = "swapitems"
- model_name        = "swapitem"
- opened_node       = Swapitem.select(:id).all.map{ |g| '"treeelt_' + g.id.to_s + '"' }.join(',').html_safe
= render :partial => "layouts/treeview_js", :locals => { :model_name => model_name, :plural_model_name => plural_model_name, :opened_node => opened_node, :namespace_for_url => namespace_for_url }
