/
  <h2>Sign in</h2>
  <haml:loud> simple_form_for(resource, :as =&amp;gt; resource_name, :url =&amp;gt; session_path(resource_name), :html =&amp;gt; {:class =&amp;gt; 'form-vertical' }) do |f| </haml:loud><haml:block>
  <haml:loud> f.input :email, :autofocus =&amp;gt; true </haml:loud>
  <haml:loud> f.input :password </haml:loud>
  <haml:loud> f.input :remember_me, :as =&amp;gt; :boolean if devise_mapping.rememberable? </haml:loud>
  <haml:loud> f.button :submit, &amp;quot;Sign in&amp;quot;, :class =&amp;gt; 'btn-primary' </haml:loud>
  </haml:block><haml:loud> render &amp;quot;devise/shared/links&amp;quot; </haml:loud>
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-login' }) do |f|
  .content-login
    .header Account Login
    = render 'layouts/messages'
    .inputs
      = f.input :email, :autofocus => true, :placeholder => "Email", :label => ""
      = f.input :password, :placeholder => "Password", :label => "", :required => true
      = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
    .button-login= f.button :submit, "Sign in"
    = render "devise/shared/links"
