= form_for([:admin, @role ], :validate => true, :html => { :class => "form-horizontal" }) do |f|
  - if @role.errors.any?
    #error_explanation
      %h2
        = pluralize(@role.errors.count, "error")
        prohibited this role from being saved:
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name, t(:name, :default => "name").capitalize, :class => "control-label"
    .controls
      = f.text_field :name
  / Beautiful_scaffold - AddField - Do not remove
  .form-actions
    = f.submit :class => "btn btn-primary"
