- content_for :title, "Roles"
%title= yield (:title)
- content_for :submenu do
  - render :partial => "layouts/submenu_admin"
%h2
  = t(:listing, :default => "Listing")
  = t(:roles, :default => "roles")
%p
  = link_to '<i class="icon-plus"></i>'.html_safe + t(:new, :default => "New") + ' ' + t(:role, :default => "role"), new_admin_role_path, :class => "btn"
  - if Role.columns.map(&:name).include?("role_id") then
    = link_to '<i class="icon-folder-close"></i>'.html_safe + t(:treeview, :default => "Treeview") + ' ' + t(:role, :default => "role"), treeview_admin_roles_path, :class => "btn"
/ <haml:loud> render :partial =&amp;gt; &amp;quot;layouts/mass_inserting&amp;quot;, :locals =&amp;gt; { :namespace =&amp;gt; 'admin', :model_name =&amp;gt; 'role', :model_columns =&amp;gt; ['name'] } </haml:loud>
- scopes = []
- if not scopes.blank? then
  .btn-toolbar
    .btn-group
      = link_to "All (#{@role_scope_for_scope.count})", admin_roles_path(:scope => ""), :class => "btn #{((session[:scope][:role].to_s == '') ? 'active' : '')}"
      - for scope in scopes
        = link_to "#{scope} (#{@role_scope_for_scope.send(scope).count})", admin_roles_path(:scope => scope), :class => "btn #{((session[:scope][:role].to_s == scope) ? 'active' : '')}"
.row-fluid
  .span9
    = form_tag  batch_admin_roles_path, :class => "form-inline" do
      .well.well-small
        %label.control-label{:for => "select01"}= t(:batch, :default => "Batch")
        %select#select01{:name => "actionprocess"}
          %option{:value => "destroy"}= t(:destroy, :default => "Destroy")
          / Beautiful_scaffold - AddField - Batch - Do not remove
        %button.btn{:type => "submit"}
          %i.icon-ok
          = t(:process, :default => "Process")
      = render :partial => "layouts/modal_columns", :locals => { :model_name => "role", :model_columns => ['name','created_at','updated_at'] }
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              %a{"data-toggle" => "modal", :href => "#modal-columns", :title => t(:select_columns, :default => "Select Columns")}
                %i.icon-th-list
            %th
              = check_box_tag :checkall, ''
              :javascript
                $('#checkall').click(function(){
                	$('.cbbatch').prop('checked', function (i, value) {
                		return !value;
                	}); 
                });
            <th #{visible_column("role", "name")} class="col-name">
            \#{sorting_header("role", "name", "admin")}
            / Beautiful_scaffold - AddField - Header - Do not remove
            <th #{visible_column("role", "created_at")} class="col-created_at">
            \#{sorting_header("role", "created_at", "admin")}
            <th #{visible_column("role", "updated_at")} class="col-updated_at">
            \#{sorting_header("role", "updated_at", "admin")}
            %th{:colspan => "3"}
              %label.checkbox
                = check_box_tag :checkallelt, 'all'
                = pluralize(@role_scope.count, "role")
        %tbody
          - @roles.each do |role|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td= role.id
              %td= check_box_tag "ids[]",role.id, false, :class => 'cbbatch'
              <td #{visible_column("role", "name")} class="col-name #{align_attribute("string")}">
              \#{role.name}
              / Beautiful_scaffold - AddField - Column - Do not remove
              <td #{visible_column("role", "created_at")} class="col-created_at #{align_attribute("datetime")}">
              \#{l(role.created_at, :format => :long)}
              <td #{visible_column("role", "updated_at")} class="col-updated_at #{align_attribute("datetime")}">
              \#{l(role.updated_at, :format => :long)}
              %td= link_to '<i class="icon-search"></i>'.html_safe, admin_role_path(role)
              %td= link_to '<i class="icon-pencil"></i>'.html_safe, edit_admin_role_path(role)
              %td= link_to '<i class="icon-remove"></i>'.html_safe, admin_role_path(role), :confirm => t(:are_you_sure, :default => "Are you sure?"), :method => :delete, :class => "nopjax"
      .btn-toolbar
        .btn-group
          - clean_params
          = will_paginate @roles,                                |
            :inner_window => 0,                                  |
            :outer_window => 0,                                  |
            :previous_label => t(:prev, :default => "Previous"), |
            :next_label => t(:next, :default => "Next")          |
        .btn-group.pull-right
          = link_to '<i class="icon-download"></i> CSV'.html_safe,  admin_roles_path(:format => :csv), :class => "nopjax btn"
          = link_to '<i class="icon-download"></i> XML'.html_safe,  admin_roles_path(:format => :xml), :class => "nopjax btn"
          = link_to '<i class="icon-download"></i> JSON'.html_safe, admin_roles_path(:format => :json), :class => "nopjax btn"
          = link_to '<i class="icon-download"></i> PDF'.html_safe,  admin_roles_path(:format => :pdf), :class => "nopjax btn"
  .span3
    = search_form_for @q, :url => admin_search_roles_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("role", "name", f, "Name")
      / Beautiful_scaffold - AddField - Search - Do not remove
      = f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary"
      = link_to  t(:cancel, :default => "Cancel"), admin_roles_path(:nosearch => "ok"), :class => "btn"
