- content_for :title, "Roles"
- content_for :submenu do
  - render :partial => "layouts/submenu_admin"
%h2
  = t(:new, :default => 'New')
  = t(:role, :default => "role")
= render 'form'
= link_to t(:back, :default => "Back"), admin_roles_path, :class => "btn"
