%h2
  = t(:show, :default => "Show")
  = t(:role, :default => "role")
%p
  %b
    = t(:name, :default => "Name")
    \:
  = @role.name
/ Beautiful_scaffold - AddField - Field - Do not remove
= link_to t(:edit, :default => "Edit"), edit_admin_role_path(@role), :class => "btn"
= link_to t(:back, :default => "Back"), admin_roles_path, :class => "btn"
