%h2
  = t(:treeview, :default => 'Treeview')
  = t(:role, :default => "role")
#treeview
  %ul
    - Role.transaction do
      - ar = Role.where(:role_id => nil)
      - ar = ar.order("position") if Role.column_names.include?("position")
      - for g in ar.all
        = build_treeview(g, 'roles')
- namespace_for_url = "admin/"
- plural_model_name = "roles"
- model_name        = "role"
- opened_node       = Role.select(:id).all.map{ |g| '"treeelt_' + g.id.to_s + '"' }.join(',').html_safe
= render :partial => "layouts/treeview_js", :locals => { :model_name => model_name, :plural_model_name => plural_model_name, :opened_node => opened_node, :namespace_for_url => namespace_for_url }
