= form_for([:admin, @category ], :validate => true, :html => { :class => "form-horizontal" }) do |f|
  - if @category.errors.any?
    #error_explanation
      %h2
        = pluralize(@category.errors.count, "error")
        prohibited this category from being saved:
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name, t(:name, :default => "name").capitalize, :class => "control-label"
    .controls
      = f.text_field :name
  .control-group
    = f.label :enabled, t(:enabled, :default => "enabled").capitalize, :class => "control-label"
    .controls
      = f.check_box :enabled
  / Beautiful_scaffold - AddField - Do not remove
  .form-actions
    = f.submit :class => "btn btn-primary"
