- content_for :title, "Categories"
%title= yield (:title)
- content_for :submenu do
  - render :partial => "layouts/submenu_admin"
%h2
  = t(:listing, :default => "Listing")
  = t(:categories, :default => "categories")
%p
  = link_to '<i class="icon-plus"></i>'.html_safe + t(:new, :default => "New") + ' ' + t(:category, :default => "category"), new_admin_category_path, :class => "btn"
  - if Category.columns.map(&:name).include?("category_id") then
    = link_to '<i class="icon-folder-close"></i>'.html_safe + t(:treeview, :default => "Treeview") + ' ' + t(:category, :default => "category"), treeview_admin_categories_path, :class => "btn"
/ <haml:loud> render :partial =&amp;gt; &amp;quot;layouts/mass_inserting&amp;quot;, :locals =&amp;gt; { :namespace =&amp;gt; 'admin', :model_name =&amp;gt; 'category', :model_columns =&amp;gt; ['name','enabled'] } </haml:loud>
- scopes = []
- if not scopes.blank? then
  .btn-toolbar
    .btn-group
      = link_to "All (#{@category_scope_for_scope.count})", admin_categories_path(:scope => ""), :class => "btn #{((session[:scope][:category].to_s == '') ? 'active' : '')}"
      - for scope in scopes
        = link_to "#{scope} (#{@category_scope_for_scope.send(scope).count})", admin_categories_path(:scope => scope), :class => "btn #{((session[:scope][:category].to_s == scope) ? 'active' : '')}"
.row-fluid
  .span9
    = form_tag  batch_admin_categories_path, :class => "form-inline" do
      .well.well-small
        %label.control-label{:for => "select01"}= t(:batch, :default => "Batch")
        %select#select01{:name => "actionprocess"}
          %option{:value => "destroy"}= t(:destroy, :default => "Destroy")
          %option{:value => "enabled.true"}= t(:settrueforattr, :attr => "'enabled'", :default => "Set enabled to true")
          %option{:value => "enabled.false"}= t(:setfalseforattr, :attr => "'enabled'", :default => "Set enabled to false")
          / Beautiful_scaffold - AddField - Batch - Do not remove
        %button.btn{:type => "submit"}
          %i.icon-ok
          = t(:process, :default => "Process")
      = render :partial => "layouts/modal_columns", :locals => { :model_name => "category", :model_columns => ['name','enabled','created_at','updated_at'] }
      %table.table.table-striped.table-bordered.table-condensed
        %thead
          %tr
            %th
              %a{"data-toggle" => "modal", :href => "#modal-columns", :title => t(:select_columns, :default => "Select Columns")}
                %i.icon-th-list
            %th
              = check_box_tag :checkall, ''
              :javascript
                $('#checkall').click(function(){
                  $('.cbbatch').prop('checked', function (i, value) {
                  return !value;
                  }); 
                });
            <th #{visible_column("category", "name")} class="col-name">
            \#{sorting_header("category", "name", "admin")}
            <th #{visible_column("category", "enabled")} class="col-enabled">
            \#{sorting_header("category", "enabled", "admin")}
            / Beautiful_scaffold - AddField - Header - Do not remove
            <th #{visible_column("category", "created_at")} class="col-created_at">
            \#{sorting_header("category", "created_at", "admin")}
            <th #{visible_column("category", "updated_at")} class="col-updated_at">
            \#{sorting_header("category", "updated_at", "admin")}
            %th{:colspan => "3"}
              %label.checkbox
                = check_box_tag :checkallelt, 'all'
                = pluralize(@category_scope.count, "category")
        %tbody
          - @categories.each do |category|
            %tr{:class => "line-#{cycle("1","2")}"}
              %td= category.id
              %td= check_box_tag "ids[]",category.id, false, :class => 'cbbatch'
              <td #{visible_column("category", "name")} class="col-name #{align_attribute("string")}">
              \#{category.name}
              <td #{visible_column("category", "enabled")} class="col-enabled #{align_attribute("boolean")}">
              \#{t((category.enabled ? "yes" : "no").to_sym)}
              / Beautiful_scaffold - AddField - Column - Do not remove
              <td #{visible_column("category", "created_at")} class="col-created_at #{align_attribute("datetime")}">
              \#{l(category.created_at, :format => :long)}
              <td #{visible_column("category", "updated_at")} class="col-updated_at #{align_attribute("datetime")}">
              \#{l(category.updated_at, :format => :long)}
              %td= link_to '<i class="icon-search"></i>'.html_safe, admin_category_path(category)
              %td= link_to '<i class="icon-pencil"></i>'.html_safe, edit_admin_category_path(category)
              %td= link_to '<i class="icon-remove"></i>'.html_safe, admin_category_path(category), :confirm => t(:are_you_sure, :default => "Are you sure?"), :method => :delete, :class => "nopjax"
      .btn-toolbar
        .btn-group
          - clean_params
          = will_paginate @categories,                           |
            :inner_window => 0,                                  |
            :outer_window => 0,                                  |
            :previous_label => t(:prev, :default => "Previous"), |
            :next_label => t(:next, :default => "Next")          |
        .btn-group.pull-right
          = link_to '<i class="icon-download"></i> CSV'.html_safe,  admin_categories_path(:format => :csv), :class => "nopjax btn"
          = link_to '<i class="icon-download"></i> XML'.html_safe,  admin_categories_path(:format => :xml), :class => "nopjax btn"
          = link_to '<i class="icon-download"></i> JSON'.html_safe, admin_categories_path(:format => :json), :class => "nopjax btn"
          = link_to '<i class="icon-download"></i> PDF'.html_safe,  admin_categories_path(:format => :pdf), :class => "nopjax btn"
  .span3
    = search_form_for @q, :url => admin_search_categories_path, :html => { :class => "well well-small" }, :method => :post do |f|
      = ransack_field("category", "name", f, "Name")
      = ransack_field("category", "enabled", f, "Enabled")
      / Beautiful_scaffold - AddField - Search - Do not remove
      = f.submit t(:filter, :default => "Filter"), :class => "btn btn-primary"
      = link_to  t(:cancel, :default => "Cancel"), admin_categories_path(:nosearch => "ok"), :class => "btn"
