- content_for :title, "Categories"
- content_for :submenu do
  - render :partial => "layouts/submenu_admin"
%h2
  = t(:new, :default => 'New')
  = t(:category, :default => "category")
= render 'form'
= link_to t(:back, :default => "Back"), admin_categories_path, :class => "btn"
