%h2
  = t(:show, :default => "Show")
  = t(:category, :default => "category")
%p
  %b
    = t(:name, :default => "Name")
    \:
  = @category.name
%p
  %b
    = t(:enabled, :default => "Enabled")
    \:
  = t((@category.enabled ? "yes".to_sym : "no".to_sym))
/ Beautiful_scaffold - AddField - Field - Do not remove
= link_to t(:edit, :default => "Edit"), edit_admin_category_path(@category), :class => "btn"
= link_to t(:back, :default => "Back"), admin_categories_path, :class => "btn"
