%h2
  = t(:treeview, :default => 'Treeview')
  = t(:category, :default => "category")
#treeview
  %ul
    - Category.transaction do
      - ar = Category.where(:category_id => nil)
      - ar = ar.order("position") if Category.column_names.include?("position")
      - for g in ar.all
        = build_treeview(g, 'categories')
- namespace_for_url = "admin/"
- plural_model_name = "categories"
- model_name        = "category"
- opened_node       = Category.select(:id).all.map{ |g| '"treeelt_' + g.id.to_s + '"' }.join(',').html_safe
= render :partial => "layouts/treeview_js", :locals => { :model_name => model_name, :plural_model_name => plural_model_name, :opened_node => opened_node, :namespace_for_url => namespace_for_url }
