= form_for([:admin, @user ], :validate => true, :html => { :class => "form-horizontal" }) do |f|
  /
    <haml:silent> if @user.errors.any? </haml:silent><haml:block>
    <div id="error_explanation">
    <h2><haml:loud> pluralize(@user.errors.count, &amp;quot;error&amp;quot;) </haml:loud> prohibited this user from being saved:</h2>
    
    <ul>
    <haml:silent> @user.errors.full_messages.each do |msg| </haml:silent><haml:block><li><haml:loud> msg </haml:loud></li></haml:block>
    </ul>
    </div>
    </haml:block>
  .control-group
    = f.label :name, t(:name, :default => "name").capitalize, :class => "control-label"
    .controls
      = f.text_field :name
  .control-group
    = f.label :email, t(:email, :default => "email").capitalize, :class => "control-label"
    .controls
      = f.text_field :email
  .control-group
    = f.label :password, t(:password, :default => "password").capitalize, :class => "control-label"
    .controls
      = f.password_field :password
  .control-group
    = f.label :password_confirmation, t(:password_confirmation, :default => "password_confirmation").capitalize, :class => "control-label"
    .controls
      = f.password_field :password_confirmation
  .control-group
    = f.label :role, t(:role, :default => "role").capitalize, :class => "control-label"
    .controls
      = f.collection_select :role_ids, Role.all, :id, :caption, :include_blank => true
  / Beautiful_scaffold - AddField - Do not remove
  .form-actions
    = f.submit :class => "btn btn-primary"
