- content_for :title, "Users"
- content_for :submenu do
  - render :partial => "layouts/submenu_admin"
%h2
  = t(:new, :default => 'New')
  = t(:user, :default => "user")
= render 'form'
= link_to t(:back, :default => "Back"), admin_users_path, :class => "btn"
