%h2
  = t(:show, :default => "Show")
  = t(:user, :default => "user")
%p
  %b
    = t(:name, :default => "Name")
    \:
  = @user.name
%p
  %b
    = t(:email, :default => "Email")
    \:
  = @user.email
/ Beautiful_scaffold - AddField - Field - Do not remove
= link_to t(:edit, :default => "Edit"), edit_admin_user_path(@user), :class => "btn"
= link_to t(:back, :default => "Back"), admin_users_path, :class => "btn"
