%h2
  = t(:treeview, :default => 'Treeview')
  = t(:user, :default => "user")
#treeview
  %ul
    - User.transaction do
      - ar = User.where(:user_id => nil)
      - ar = ar.order("position") if User.column_names.include?("position")
      - for g in ar.all
        = build_treeview(g, 'users')
- namespace_for_url = "admin/"
- plural_model_name = "users"
- model_name        = "user"
- opened_node       = User.select(:id).all.map{ |g| '"treeelt_' + g.id.to_s + '"' }.join(',').html_safe
= render :partial => "layouts/treeview_js", :locals => { :model_name => model_name, :plural_model_name => plural_model_name, :opened_node => opened_node, :namespace_for_url => namespace_for_url }
