	/* Reset */
	html,body,div,span,applet,object,iframe,input,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{
		margin:0;
		padding:0;
	}
	.clear { clear:both; }
	input:focus { outline: none; }
	/* General Section */
	
	body {
	  background:#f1f1f1;
	  margin: 0;
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-size: 14px;
	  line-height: 18px;
	  color:#353535;
	}
	
/** The wrapper that will contain our two forms **/
	#wrapper{
		top:100px;
		right: 0px;
		margin: 0px auto;	
		width: 378px;
		border:1px solid #c9c9c9;
		position: relative;	
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	.form-login {
		margin:0;
		background: #ffffff;
	}
	.header {
		height:35px;
		background: #fafafa;
		background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e9e9e9));
		background: -webkit-linear-gradient(top, #fafafa 0%,#e9e9e9 100%);
		background: -o-linear-gradient(top, #fafafa 0%,#e9e9e9 100%);
		background: -ms-linear-gradient(top, #fafafa 0%,#e9e9e9 100%);
		background: linear-gradient(to bottom, #fafafa 0%,#e9e9e9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e9e9e9',GradientType=0 );
		border-bottom:1px solid #c9c9c9;
		text-align:center;
		color:#353535;
		font-size:14px;
		font-weight:bold;
		padding-top:15px;
	}
	.inputs {
		margin-top:30px;
	}
	.inputs input[type="text"], .inputs [type="password"], .inputs [type="email"] {
		width:304px;
		height:33px;
		font-size: 13px;
		border:1px solid #dcdcdc;
		background:#fbfbfb;
		margin-left:19px;
		padding-left:17px;
		padding-right:17px;
		font-size:14px;
	}
	.inputs input[type="text"]:focus, .inputs input[type="password"]:focus, .inputs input[type="email"]:focus {
		border: 1px solid #2d8aeb;
	}
	.link-1 {
		margin-top:15px;
		margin-left:19px;
		float:left;
	}
	.link-1 a, .link-1 a:hover {
		color:#2d8aeb;
		font-size:14px;
		font-weight:bold;
	}
	.link-2 {
		float:right;
		margin-top:15px;
		margin-right:19px;
	}
	.link-2 a, .link-2 a:hover {
		color:#b2b2b2;
	}
 /* .button-login input[type="submit"] {
 		width:340px;
 		height:43px;
 		margin-left:19px;
 		margin-top:25px;
 		font-size:14px;
 		font-weight:bold;
 		background: #2d8aeb;
 		background: -moz-linear-gradient(top, #2d8aeb 0%, #2d8aeb 100%);
 		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d8aeb), color-stop(100%,#2d8aeb));
 		background: -webkit-linear-gradient(top, #2d8aeb 0%,#2d8aeb 100%);
 		background: -o-linear-gradient(top, #2d8aeb 0%,#2d8aeb 100%);
 		background: -ms-linear-gradient(top, #2d8aeb 0%,#2d8aeb 100%);
 		background: linear-gradient(to bottom, #2d8aeb 0%,#2d8aeb 100%);
 		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d8aeb', endColorstr='#2d8aeb',GradientType=0 );
 		color:#fff;
 		border:1px solid #1465b5;
 		-webkit-border-radius: 3px;
 		-moz-border-radius: 3px;
 		border-radius: 3px;
 	}                                */
 .button-login input[type="submit"] {
		width:340px;
		height:43px;
		margin-left:19px;
		margin-top:25px;
		font-size:14px;
		font-weight: bold;
		background: #2d8aeb;
  	color:#fff;
		border:1px solid #1465b5;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		text-shadow: none;
	}
	/*.button-login input[type="submit"]:hover {
			opacity:0.9;
		}     */
	.footer-login {
		border-top:1px solid #c9c9c9;
		margin-top:30px;
		padding:0px 0px 0px 19px;
		color:#535457;
		background:#fbfbfb;
	}
	.footer-login .pull-left{
		padding:20px 0px;
		font-weight:bold;
	}
	.social-links {
		list-style:none;
		margin:0;
	}
	.social-links li{
		float:left;
		border-left:1px solid #c9c9c9;
	}
	.social-links li a{
		display:block;
		width:55px;
		height:43px;
		padding-top:17px;
	}
	.social-links li a:active{
		-webkit-box-shadow: inset 0px 2px 2px 0px #e3e3e3;
		box-shadow:  inset 0px 2px 2px 0px #e3e3e3;
		background:#f4f4f4;
	}
	.social-links li a span{
		display:block;
		text-indent:-9999px;
		margin-left:19px;
	}
	.social-links li.facebook a span{
		width:13px;
		height:23px;
		background-image:url(/assets/nightsky/facebook.png);
		background-size:13px 46px;
	}
	.social-links li.facebook a:hover span, .social-links li.facebook a:active span{
		background-position:0px 23px;
	}
	.social-links li.twitter a span{
		width:22px;
		height:18px;
		background-image:url(/assets/nightsky/twitter.png);
		background-size:22px 36px;
		margin-left:17px;
		margin-top:1px;
	}
	.social-links li.twitter a:hover span, .social-links li.twitter a:active span{
		background-position:0px 18px;
	}
	.social-links li.google-plus a span{
		width:13px;
		height:23px;
		background-image:url(/assets/nightsky/google.png);
		background-size:13px 46px;
	}
	.social-links li.google-plus a:hover span, .social-links li.google-plus a:active span{
		background-position:0px 23px;
	}
@media \0screen {
	.social-links li.facebook a span{
		background-image:url(../images/ie/facebook.png);
	}
	.social-links li.twitter a span{
		background-image:url(../images/ie/twitter.png);
	}
	.social-links li.google-plus a span{
		background-image:url(../images/ie/google.png);
	}
}

div.control-group.boolean.optional.user_remember_me {
	padding-left: 20px;
}

div.content-login a {
	padding-left: 20px;
}

.button-login {
	margin-bottom: 10px;
}