/*-----------------------------------------------------------------------------------
    0.	CSS Reset & Clearfix
	1.	Document Setup (body, common classes, vertical rhythm, structure etc)
	2.	Header Styles
		2.a Message Box
		2.b Notification Box
		2.c Config Box
		2.d Profile Box
	3.	Main Styles
	4.	Menu Styles
		4.a Main Menu 
		4.b additional menu
	4.2	Menu Widgets
		4.2.a New Files
		4.2.b Drop files here to upload
		4.2.c Media Files
		4.2.d Add New Widget
	5.	Content Elements
		5 Basic (Grids)
		5.a Page Title
		5.b Info Box
		5.c Active Users
		5.d Quick Stats
		5.e Visitor Statistics
		5.f Friends Box
		5.g Information Box 3
		5.h Twitter Widget 
		5.i Take Notes
		5.j Processes Box
		5.k Gallery
		5.l Page icons
		5.ll Tables
		5.m Forms
		5.n UI
		5.o Widgets
		5.p Buttons
		5.p Pages Error
		5.q Page Typography
		5.r Page Charts
		5.s Contact LIST
	6.	Footer
	7.	Mobile version
	8.	IE8 STYLE


-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*	0.	CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*-----------------------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

ol,ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a:active,a:focus,img {
    outline: 0;
    text-decoration: none;
    outline: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: block;
    clear: both;
}

/* End hide from IE Mac */
.none {
    display: none;
}

/* End Clearfix */
.left {
    float: left;
}

.right {
    float: right;
}

/*-----------------------------------------------------------------------------------*/
/*	1.	Document Setup (body, common classes, vertical rhythm, structure etc)
/*-----------------------------------------------------------------------------------*/
html,body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, serif;
    font-size: 13px;
    overflow-x: hidden;
    height: 100%;
    min-height: 100%;
    color: #5f5f5f;
}

table.table {
    margin-bottom: 10px;
}

/*-----------------------------------------------------------------------------------*/
/*	2.	Header Styles
/*-----------------------------------------------------------------------------------*/
#header { 
	color: #fff; 
	background: white;
	background: -webkit-linear-gradient(top, #780c4e 0%,#333333 100%);
	background: -o-linear-gradient(top, #780c4e 0%,#333333 100%);
	background: -ms-linear-gradient(top, #780c4e 0%,#333333 100%);
	background: linear-gradient(to bottom, #780c4e 0%,#333333 100%);
	background: linear-gradient(to bottom, rgb(120, 12, 78) 0%, rgb(51, 51, 51) 100%) repeat scroll 0% 0% transparent;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e4e4e', endColorstr='#333333',GradientType=0 );
	border-bottom:1px solid #292929;
	height:60px;
}

.logo {
    background: url(/assets/nightsky/logo.png) no-repeat;
    background-size: 102px 23px;
    display: block;
    width: 102px;
    height: 23px;
    margin-top: 19px;
    margin-left: 20px;
    float: left;
    text-decoration: none;
    color: #535457;
}

.logo h1 {
    text-indent: -9999px;
}

.search {
    margin-left: 112px;
    margin-top: 13px;
    float: left;
}

.search input[type=text],.search input[type=text]:focus {
    color: #9a9a9a;
    font-size: 14px;
    border: 1px solid #292929;
    width: 206px;
    height: 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 0 22px;
    background: url(/assets/nightsky/search.png) #fff right bottom no-repeat;
    background-size: 30px 30px;
}

.field_with_errors input[type=text],.field_with_errors input[type=password],.field_with_errors textarea {
    border-color: red;
}

label.message {
		color: red;
}
.head-button-link {
    width: 32px;
    height: 32px;
    display: block;
    background-image: url(/assets/nightsky/icon_message.png);
    background-size: 32px 96px;
    margin-top: 14px;
    margin-right: 20px;
    float: left;
    color: #fff;
}

.head-button-link:hover,.head-button-link:focus,.head-button-link:active {
    text-decoration: none;
    color: #fff;
    outline: 0;
}

.head-button-link:hover {
    background-position: 0 -32px;
}

.head-button-link:active,.head-button-link:focus {
    background-position: 0 -64px;
}

.head-button-link.notification {
    background-image: url(/assets/nightsky/icon_notification.png);
}

.head-button-link.config {
    background-image: url(/assets/nightsky/icon_config.png);
}

.head-button-link.menu-hide {
    background-image: url(/assets/nightsky/icon_menu.png);
    text-indent: -99999px;
    margin-left: 20px;
}

.notice-new {
    background: #ed5d31;
    background: 0 color-stop(100%,#d04419);
    background: linear-gradient(tobottom, #ed5d31 0%, #d04419 0%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed5d31',endColorstr='#d04419',GradientType=0);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 0 5px 2px;
    font-size: 12px;
    height: 16px;
    top: -8px;
    left: -4px;
    position: relative;
}

/* 2.a Message Box ***************************/
div.messages-list {
    width: 300px;
    border: 1px solid #c9c9c9;
    background: #fff;
    -webkit-box-shadow: 0 0 18px rgba(50,50,50,0.2);
    -moz-box-shadow: 0 0 18px rgba(50,50,50,0.2);
    box-shadow: 0 0 18px rgba(50,50,50,0.2);
    margin-top: 25px;
    padding: 0 0 10px;
    color: #5f5f5f;
    font-size: 13px;
}

.triangle {
    background-image: url(/assets/nightsky/triangle.png);
    background-size: 14px 7px;
    width: 14px;
    height: 7px;
    margin-top: -7px;
    margin-left: 260px;
}

.notice-title {
    font-weight: 700;
    margin: 10px 10px 0;
}

.notice-message:hover {
    background: #fafafa;
}

.notice-message .box {
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid #e0e0e0;
    display: block;
}

.notice-message .avatar {
    float: left;
    border: 1px solid #6d6d6d;
    width: 45px;
    height: 45px;
}

.notice-message .avatar img {
    width: 45px;
    height: 45px;
}

.notice-message .info {
    float: left;
    margin-left: 10px;
    margin-top: 1px;
    width: 220px;
}

.notice-message .author {
    float: left;
    font-weight: 700;
    color: #5f5f5f;
}

.notice-message .date {
    float: right;
    color: #b2b2b2;
}

.notice-message .text {
    color: #6d6d6d;
}

a.notice-more,a.notice-more:hover {
    font-weight: 700;
    color: #5f5f5f;
    margin: 10px 10px 0;
    display: block;
}

/* 2.b Notification Box ***************************/
.follow-link {
    text-decoration: underline;
    color: #05a705;
}

.comment-link {
    text-decoration: underline;
    color: #2d8aeb;
}

.like-link {
    text-decoration: underline;
    color: #ff6868;
}

/* 2.c Config Box ***************************/
div.settings-box {
    width: 140px;
    border: 1px solid #c9c9c9;
    background: #fff;
    -webkit-box-shadow: 0 0 18px rgba(50,50,50,0.2);
    -moz-box-shadow: 0 0 18px rgba(50,50,50,0.2);
    box-shadow: 0 0 18px rgba(50,50,50,0.2);
    margin-top: 25px;
    padding: 0 10px 10px;
    color: #5f5f5f;
    font-size: 13px;
}

.triangle-2 {
    background-image: url(/assets/nightsky/triangle.png);
    background-size: 14px 7px;
    width: 14px;
    height: 7px;
    margin-top: -7px;
    margin-left: 130px;
}

.settings-link {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(/assets/nightsky/settings/6.png);
    background-size: 30px 30px;
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 11px;
}

.settings-link.yellow {
    background-image: url(/assets/nightsky/settings/1.png);
}

.settings-link.red {
    background-image: url(/assets/nightsky/settings/2.png);
}

.settings-link.purple {
    background-image: url(/assets/nightsky/settings/3.png);
}

.settings-link.green {
    background-image: url(/assets/nightsky/settings/4.png);
}

.settings-link.blue {
    background-image: url(/assets/nightsky/settings/5.png);
}

/* 2.d Profile Box ***************************/
.profile {
    margin-top: 10px;
    margin-right: 20px;
}

.triangle-3 {
    background-image: url(/assets/nightsky/triangle.png);
    background-size: 14px 7px;
    width: 14px;
    height: 7px;
    margin-top: -7px;
    margin-left: 120px;
}

.double-spacer {
    float: left;
    display: block;
    height: 40px;
    border-left: 1px solid #555;
    border-right: 1px solid #292929;
}

.profile-avatar {
    float: left;
    margin-left: 9px;
    margin-top: 3px;
    width: 32px;
    height: 32px;
}

.profile-avatar img {
    border: 1px solid #292929;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 32px;
    height: 32px;
}

.profile-username {
    float: left;
    margin-top: 10px;
    color: #f3f3f3;
    margin-left: 15px;
}

.profile-username span {
    color: #b7b7b7;
}

.profile-caret {
    float: left;
    margin-top: 10px;
    margin-right: 8px;
    padding-left: 8px;
}

.profile-caret span.caret {
    border-top: 4px solid #f3f3f3;
}

div.profile-box {
    width: 150px;
    border: 1px solid #c9c9c9;
    background: #fff;
    -webkit-box-shadow: 0 0 18px rgba(50,50,50,0.2);
    -moz-box-shadow: 0 0 18px rgba(50,50,50,0.2);
    box-shadow: 0 0 18px rgba(50,50,50,0.2);
    margin-top: 25px;
    padding: 0;
    color: #5f5f5f;
    font-size: 13px;
}

.profile-navigation {
    margin: 2px 0;
    padding: 0;
    list-style: none;
}

.profile-navigation li:hover {
    background: #fafafa;
}

.profile-navigation li:last-child a {
    border: 0;
}

.profile-navigation li a {
    color: #535457;
    padding: 10px 0;
    margin: 0 10px;
    display: block;
    border-bottom: 1px solid #e0e0e0;
}

.profile-navigation li a:hover {
    text-decoration: none;
}

.profile-navigation li a i {
    padding-right: 10px;
}

/*-----------------------------------------------------------------------------------*/
/*	3.	Main Styles
/*-----------------------------------------------------------------------------------*/
#main .block {
    padding: 0 300px 20px 20px;
}

#wrap {
    z-index: 1;
    position: relative;
    left: 280px;
    min-height: 100%;
    background: #f1f1f1;
}

/*-----------------------------------------------------------------------------------*/
/*	4.	Menu Styles
/*-----------------------------------------------------------------------------------*/
#menu-link {
    display: none;
}

#menu {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100%;
    background: #f9f9f9 url(/assets/nightsky/bg_left_menu.png);
    color: #fff;
    z-index: 999999;
}

/* 4.a Main Menu */
.main-menu {
    margin: 0;
    width: 70px;
    list-style: none;
    float: left;
}

.main-menu li a {
    display: block;
    width: 70px;
    height: 58px;
    color: #9e99aa;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #243235;
    padding-top: 12px;
}

.main-menu li a:hover {
    text-decoration: none;
    color: #fcfdfe;
    background: #293c43;
}

.main-menu li.active a {
    text-decoration: none;
    color: #fcfdfe;
}

.main-menu li a i {
    display: block;
    height: 32px;
    margin: auto;
    margin-bottom: 4px;
}

.main-menu li a i.general {
    background: url(/assets/nightsky/icon/general.png);
    background-size: 34px 50px;
    width: 34px;
    height: 25px;
}

.main-menu li a:hover i.general,.main-menu li.active a i.general {
    background-position: 0 25px;
}

.main-menu li a i.components {
    background: url(/assets/nightsky/icon/components.png);
    background-size: 26px 62px;
    width: 26px;
    height: 31px;
}

.main-menu li a:hover i.components,.main-menu li.active a i.components {
    background-position: 0 -31px;
}

.main-menu li a i.forms {
    background: url(/assets/nightsky/icon/forms.png);
    background-size: 31px 64px;
    width: 31px;
}

.main-menu li a:hover i.forms,.main-menu li.active a i.forms {
    background-position: 0 -32px;
}

.main-menu li a i.statistics {
    background: url(/assets/nightsky/icon/statistics.png);
    background-size: 30px 64px;
    width: 30px;
}

.main-menu li a:hover i.statistics,.main-menu li.active a i.statistics {
    background-position: 0 -32px;
}

.main-menu li a i.pages {
    background: url(/assets/nightsky/icon/pages.png);
    background-size: 30px 64px;
    height: 30px;
    width: 30px;
}

.main-menu li a:hover i.pages,.main-menu li.active a i.pages {
    background-position: 0 -34px;
}

.main-menu li a i.tables {
    background: url(/assets/nightsky/icon/tables.png);
    background-size: 25px 64px;
    width: 25px;
}

.main-menu li a:hover i.tables,.main-menu li.active a i.tables {
    background-position: 0 -32px;
}

.main-menu li a i.bonus {
    background: url(/assets/nightsky/icon/bonus.png);
    background-size: 25px 64px;
    width: 25px;
}

.main-menu li a:hover i.bonus,.main-menu li.active a i.bonus {
    background-position: 0 -32px;
}

/* 4.b additional menu */
.additional-menu {
    margin-left: 70px;
    list-style: none;
    width: 209px;
}

.additional-menu li a {
    display: block;
    height: 20px;
    padding: 10px 15px;
    color: #5f5f5f;
    border-bottom: 1px solid #c9c9c9;
    background: #fafafa;
    background: 0 color-stop(100%,#e9e9e9);
    background: linear-gradient(tobottom,#fafafa 1%,#e9e9e9 10%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#e9e9e9',GradientType=0);
    font-size: 13px;
}

.additional-menu li a:hover {
    text-decoration: none;
    background: #fff;
    background: 0 color-stop(100%,#e9e9e9);
    background: linear-gradient(tobottom,#ffffff 0%,#e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e9e9e9',GradientType=0);
}

.additional-menu li a i {
    padding-right: 8px;
}

.additional-menu li.active a,.additional-menu li.active a:hover {
    -webkit-box-shadow: inset 0 2px 5px 0 #bfbfbf;
    box-shadow: inset 0 2px 5px 0 #bfbfbf;
    background: #e5e5e5;
    background: 0 color-stop(100%,#f5f5f5);
    background: linear-gradient(tobottom,#e5e5e5 0%,#f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5',endColorstr='#f5f5f5',GradientType=0);
}

/*-----------------------------------------------------------------------------------*/
/*	4.2	Menu Widgets
/*-----------------------------------------------------------------------------------*/
/* 4.2.a New Files ***************************/
.new-files {
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 12px;
    background: #fff;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #5c5c5c;
}

.new-files .title {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 700;
}

.files {
    margin-top: 10px;
    margin-bottom: -1px;
}

.file {
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
}

.file .file-format {
    float: left;
    width: 18px;
    height: 19px;
}

.file .file-format img {
    width: 18px;
    height: 19px;
}

.file .file-info {
    margin-left: 30px;
}

.file .file-name {
    font-weight: 700;
}

.file .file-name a {
    display: block;
    float: right;
    color: #5c5c5c;
}

.file .file-name [class^=icon-]:before,[class*=" icon-"]:before {
    font-size: 12px;
}

.file-date {
    font-size: 12px;
}

/* 4.2.b Drop files here to upload ***************************/
.upload-box {
    margin-top: 30px;
    margin-left: 82px;
    margin-right: 12px;
    background: #f1f1f1;
    border: 2px dashed #c9c9c9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #b2b2b2;
    font-weight: 700;
    width: 140px;
    height: 105px;
    text-align: center;
    padding: 65px 20px 0;
}

/* 4.2.c Media Files ***************************/
.media-files {
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 12px;
    background: #fff;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #5c5c5c;
    padding: 10px;
    font-size: 13px;
}

.media-files .title {
    font-size: 14px;
    font-weight: 700;
}

.media-files p {
    margin-top: 10px;
    margin-bottom: 15px;
}

.media-files-info-box {
    margin-bottom: 20px;
}

.media-files-info-box i {
    padding-right: 5px;
}

/* 4.2.d Add New Widget ***************************/
.add-widget-link {
    font-weight: 700;
    color: #fff;
    text-align: center;
    display: block;
    background: #2d8aeb;
    height: 27px;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 12px;
    padding-top: 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.add-widget-link:hover {
    opacity: 0.9;
    color: #fff;
    text-decoration: none;
}

/*-----------------------------------------------------------------------------------*/
/*	5.	Content Elements
/*-----------------------------------------------------------------------------------*/
/* 5 Basic (Grids) */
.grid {
    background: #fff;
    margin-top: 40px;
    border: 1px solid #c9c9c9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.grid-transparent {
    margin-top: 40px;
}

.grid-title {
    height: 35px;
    background: #fafafa;
    background: 0 color-stop(100%,#e9e9e9);
    background: linear-gradient(tobottom,#fafafa 0%,#e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#e9e9e9',GradientType=0);
    border-bottom: 1px solid #c9c9c9;
    overflow: hidden;
    -webkit-border-radius: 0;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius: 0;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.grid-title .pull-left .icon-title {
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #c9c9c9;
    height: 30px;
    margin-top: -2px;
    margin-right: 8px;
    padding-top: 12px;
    float: left;
    color: #5f5f5f;
}

.grid-title .pull-left span {
    color: #5f5f5f;
    font-size: 14px;
    font-weight: 700;
    height: 14px;
    display: block;
    padding-top: 8px;
    width: 200px;
}

.grid-title .pull-right .icon-title {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #c9c9c9;
    height: 30px;
    margin-top: -2px;
    padding-top: 12px;
    float: left;
}

.grid-title .pull-right .icon-title a {
    color: #5f5f5f;
}

.grid-title .pull-right .icon-title a:hover {
    color: #3c3b3b;
}

.grid-content {
    padding: 10px;
}

.grid-content.padding-none {
    padding: 0;
}

.overflow {
    overflow: hidden;
}

/* 5.a Page Title ***************************/
.pagetitle {
    height: 45px;
}

.pagetitle h1 {
    float: left;
    text-transform: uppercase;
    font-size: 24px;
    color: #5f5f5f;
}

.pagetitle .btn-group {
    float: right;
    margin-top: 15px;
}

.pagetitle .btn {
    color: #5f5f5f;
    border-color: #c9c9c9;
    background-color: #fafafa;
    background-color: #eaeaea;
    background-image: 0 to(#eaeaea);
    background-image: linear-gradient(tobottom,#fafafa,#eaeaea);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa',endColorstr='#ffeaeaea',GradientType=0);
}

.wysiwyg-editor {
    width: 500px;
}

#mycoins {
    width: 220px;
}

.dropdown-menu [class*=span] {
    padding-top: 10px;
    width: 120px;
}

.dropdown-menu > li.column-menu.firstcolumn {
    margin-left: 0;
    width: 120px;
}

.dropdown-menu > li.column-menu ul {
    display: inline-block;
    list-style: none outside none;
    margin: 0 0 16px;
    width: 100%;
}

.dropdown-menu > li.column-menu li {
    display: inline;
    float: left;
    width: 100%;
    padding-left: 20px;
}

#dropdownlist {
    margin: 10px 0 0;
}

.backlink {
    margin-top: 20px;
}

#dropdownedit {
    margin-left: 0;
}


/* 5.b Info Box ***************************/
.info-box {
    background: #fff;
    border: 1px solid #c9c9c9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 40px;
}

.stats-box {
    margin: 40px 0;
    color: #5f5f5f;
}

.stats-box-title {
    text-align: center;
    font-weight: 700;
}

.stats-box-all-info {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    margin-top: 20px;
}

.stats-box-all-info img {
    width: 60px;
    height: 60px;
}

.wrap-chart {
    height: 80px;
    overflow: hidden;
    margin-top: 20px;
}

.chart {
    width: 100%;
    height: 100px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

#tooltip {
    z-index: 99999;
    background: #000;
    color: #fff;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.information-data {
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #c9c9c9;
    background: #fafafa;
    background: 0 color-stop(100%,#e9e9e9);
    background: linear-gradient(tobottom,#fafafa 0%,#e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#e9e9e9',GradientType=0);
}

.data {
    background: #fafafa;
    background: 0 color-stop(100%, #e9e9e9);
    background: linear-gradient(tobottom,#fafafa 0%,#e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#e9e9e9',GradientType=0);
    float: left;
    width: 25%;
    text-align: center;
    padding-top: 15px;
    border-left: 1px solid #c9c9c9;
    margin-left: -1px;
}

.date-figures {
    font-size: 14px;
    font-weight: 700;
    color: #5f5f5f;
}

.date-title {
    margin-top: -10px;
    color: #6d6d6d;
}

/* 5.c Active Users ***************************/
.chart-active {
    width: 100%;
    height: 215px;
    margin-top: 20px;
}

.information-data-2 {
    overflow: hidden;
    width: 100%;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    background: #fafafa;
    background: 0 color-stop(100%,#e9e9e9);
    background: linear-gradient(tobottom,#fafafa 0%,#e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#e9e9e9',GradientType=0);
}

.information-data-2 .data {
    background: #fafafa;
    background: 0 color-stop(100%,#e9e9e9);
    background: linear-gradient(tobottom,#fafafa 0%,#e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#e9e9e9',GradientType=0);
    float: left;
    width: 33.33333%;
    text-align: center;
    padding-top: 15px;
    border-left: 1px solid #c9c9c9;
    margin-left: -1px;
}

.information-data-2 .date-figures {
    font-size: 30px;
    font-weight: 700;
    color: #5f5f5f;
}

.information-data-2 .date-title {
    margin-top: -5px;
    color: #5d5d5d;
}

.dates-active {
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.dates-active .input-append {
    margin-right: 6px;
    margin-bottom: 0;
}

.def {
    display: inline-block;
    color: #5f5f5f;
    margin-right: 6px;
}

input[type=text].input-date {
    width: 100px;
    background: #fbfbfb;
    border-color: #dcdcdc;
}

span.add-on {
    background-color: #f2f2f2;
}

.add-on i {
    padding-top: 3px;
    color: #5f5f5f;
}

.select-active {
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* 5.d Quick Stats ***************************/
.quick-stats-box .span3 {
    height: 100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    background: #2d8aeb;
    color: #fff;
}

.quick-stats-box .span3 span {
    display: block;
    font-size: 30px;
    font-weight: 700;
    padding-top: 25px;
    margin-bottom: 15px;
}

.quick-stats-box .red {
    background: #ff6868;
}

.quick-stats-box .orange {
    background: #ffa93c;
}

.quick-stats-box .green {
    background: #05a705;
}

/* 5.e Visitor Statistics ***************************/
.list-visitor {
    list-style: none;
    margin: 0;
    margin-top: -30px;
}

.list-visitor li {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.list-visitor li .linecustom {
    padding-right: 20px;
}

.list-visitor li .sparkbar {
    padding-right: 40px;
    padding-left: 20px;
}

.list-visitor li .number {
    color: #3b91eb;
    font-size: 24px;
    font-weight: 700;
    float: right;
}

.list-visitor-2 li .number {
    color: #5f5f5f;
}

/* 5.f Friends Box ***************************/
.friends {
    overflow: hidden;
}

.friend {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -1px;
}

.f-avatar {
    border: 1px solid #5d5d5d;
    height: 60px;
    width: 60px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
}

.f-info {
    margin-left: 80px;
}

.f-name {
    color: #5f5f5f;
    font-size: 14px;
    font-weight: 700;
    margin-top: 8px;
}

.f-name img {
    width: 8px;
    height: 8px;
}

.f-text {
    margin-top: 5px;
    color: #5f5f5f;
}

.f-actions {
    float: right;
    margin-top: 15px;
}

.f-actions a {
    background: #2d8aeb;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    padding: 10px 25px;
}

.f-actions a:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
}

/* 5.g Information Box 3 ***************************/
.information-box-3 {
    overflow: hidden;
    width: 100%;
    color: #5f5f5f;
    border: 1px solid #c9c9c9;
    background: #fff;
    margin-top: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.information-box-3 .item {
    float: left;
    width: 33.33333%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-left: 1px solid #c9c9c9;
    margin-left: -1px;
}

.information-box-3 .item img {
    float: left;
}

.box-figures {
    font-size: 18px;
    font-weight: 700;
    padding-left: 80px;
    padding-top: 8px;
}

.box-title {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 80px;
    padding-top: 5px;
}

.box-info {
    width: 160px;
    margin: auto;
}

.box-info img {
    width: 60px;
    height: 60px;
}

/* 5.h Twitter Widget ***************************/
.t-foot {
    margin-top: 10px;
    margin-left: 80px;
}

.t-date {
    float: left;
    color: #b2b2b2;
}

.t-retweet {
    float: right;
}

.t-retweet a,.t-retweet a:hover {
    color: #b2b2b2;
}

/* 5.i Take Notes ***************************/
.notes {
    height: 420px;
    overflow-y: scroll;
}

.note {
    border-top: 1px solid #c9c9c9;
    margin-top: -1px;
}

.note-status {
    border-right: 1px solid #c9c9c9;
    padding: 18px 12px;
    width: 10px;
    float: left;
}

.note-done {
    display: block;
    background: url(/assets/nightsky/icon/icon_cont_check.png);
    width: 12px;
    height: 12px;
    background-size: 12px 12px;
}

.no-done .note-done {
    background: url(/assets/nightsky/icon/icon_cont_close.png);
    background-size: 12px 12px;
}

.note-name {
    float: left;
    width: 50%;
    height: 20px;
    overflow: hidden;
    font-size: 14px;
    font-weight: 700;
    color: #5f5f5f;
    padding-top: 14px;
    padding-left: 10px;
}

.no-done .note-name {
    color: #b2b2b2;
}

.note-date {
    float: right;
    width: 65px;
    background: #ff6868;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px 0;
    font-weight: 700;
}

.note-date.blue {
    background: #2d8aeb;
}

.note-date.orange {
    background: #ffa93c;
}

.note-date.green {
    background: #05a705;
}

/* 5.j Processes Box ***************************/
.process-box {
    margin-top: 40px;
    padding: 10px 20px;
    background: #fff;
    border: 1px solid #c9c9c9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #5d5d5d;
}

.process-name {
    font-size: 18px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}

.process-name i {
    padding-top: 2px;
    padding-right: 20px;
}

.process-info {
    padding-top: 5px;
}

.process-progress {
    margin-top: 10px;
    background: #fbfbfb;
    width: 100%;
    height: 8px;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.process-progress .advance {
    margin-top: -1px;
    height: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.process-progress .advance.blue {
    background: #2d8aeb;
    border: 1px solid #1465b5;
}

.process-progress .advance.red {
    background: #ff6868;
    border: 1px solid #d44646;
}

.process-progress .advance.green {
    background: #06a706;
    border: 1px solid #028602;
}

a.process-action {
    width: 150px;
    background: #2d8aeb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    float: right;
    margin-top: 10px;
}

a.process-action:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
}

a.process-action.red {
    background: #ff6868;
}

a.process-action.green {
    background: #06a706;
}

/* 5.k Gallery ***************************/
.thumbnails {
    clear: both;
}

.thumbnails-full {
    margin-top: -20px;
}

.thumbnail {
    width: 150px;
}

ul.thumbnails li {
    position: relative;
    margin-bottom: 0;
    margin-top: 20px;
}

.thumbnails li span {
    background: #000;
    display: block;
}

.thumbnails li:hover img {
    opacity: 0.5;
}

.thumbnails .p_actions {
    width: 32px;
    position: absolute;
    top: 5px;
    left: 135px;
    opacity: 0;
    -moz-transition: opacity .3s ease-in-out;
}

.thumbnails li:hover .p_actions {
    opacity: 1;
}

.p_actions a.p_delete {
    width: 20px;
    height: 20px;
    display: block;
    background: url(/assets/nightsky/icon/photo_delete.png);
    background-size: 20px 20px;
}

.p_actions a.p_edit {
    width: 20px;
    height: 20px;
    display: block;
    background: url(/assets/nightsky/icon/photo_edit.png);
    background-size: 20px 20px;
    margin-top: 1px;
}

.p_actions a.p_zoom {
    width: 50px;
    height: 50px;
    display: block;
    background: url(/assets/nightsky/icon/photo_zoom.png);
    background-size: 50px 50px;
    margin-top: 30px;
    margin-left: -78px;
}

ul.nav-pills {
    margin-top: 10px;
}

ul.nav-pills > .active > a,.nav-pills > .active > a,ul.nav-pills > .active > a:hover,ul.nav-pills > .active > a:focus {
    background-color: #218ffc;
}

ul.nav-pills > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #535457;
}

a.p_link_upload {
    background: #2d8aeb;
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    margin-top: 12px;
    padding: 7px 10px;
    float: right;
}

a.p_link_upload:hover {
    opacity: 0.9;
    color: #fff;
    text-decoration: none;
}

div.pagination {
    margin-bottom: 0;
}

div.pagination ul > li > a,div.pagination ul > li > span {
    padding: 7px 13px;
    color: #5f5f5f;
    background: #fbfbfb;
}

a.link_pagination {
    display: block;
    padding: 7px 13px;
    color: #5f5f5f;
    background: #fbfbfb;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 9px;
    float: left;
    margin-top: 10px;
}

a.link_pagination:hover {
    color: #5f5f5f;
    text-decoration: none;
    background: #f5f5f5;
}

a.link_pagination.right {
    float: right;
    margin-top: -40px;
}

/* 5.l Page icons ***************************/
.the-icons {
    list-style-type: none;
    margin-left: 0;
}

.the-icons li {
    cursor: pointer;
    line-height: 42px;
    padding-left: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.the-icons li [class^=icon-],.the-icons li [class*=" icon-"] {
    width: 32px;
    font-size: 16px;
}

.the-icons li:hover {
    background-color: #f0faff;
}

.the-icons li:hover [class^=icon-],.the-icons li:hover [class*=" icon-"] {
    font-size: 24px;
    vertical-align: middle;
}

.the-icons li:hover [class^=icon-]:before,.the-icons li:hover [class*=" icon-"]:before {
    font-size: 24px;
    vertical-align: middle;
}

/* 5.ll Tables ***************************/
.table {
    color: #5f5f5f;
}

.table-mod-2 {
    background: #fbfbfb;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.table-mod-2 a {
    color: #2d8aeb;
}

.table-mod-2 thead tr th {
    color: #5f5f5f;
    font-size: 14px;
}

.table-mod-2 tr td {
    padding-top: 10px;
}

.table-mod-2 tr .t_center {
    text-align: center;
}

.s_green {
    background: #05a705;
    padding: 2px 5px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.s_blue {
    background: #2d8aeb;
    padding: 2px 5px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.s_orange {
    background: #ffa93c;
    padding: 2px 5px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.s_gray {
    background: #6d6d6d;
    padding: 2px 5px;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.right_info {
    display: block;
    float: right;
}

.table-mod-2 tr td.t_b_blue {
    border-left: 2px solid #2d8aeb;
}

.table-mod-2 tr td.t_b_red {
    border-left: 2px solid #ff6868;
}

.table-mod-2 tr td.t_b_orange {
    border-left: 2px solid #ffa93c;
}

.table-mod-2 tr td.t_b_green {
    border-left: 2px solid #05a705;
}

.table-mod-2 tr td.t_b_purple {
    border-left: 2px solid #b258ff;
}

/* 5.m Forms ***************************/
input[type=text].input,input[type=password].input,textarea.input {
    display: inline-block;
    height: 20px;
    padding: 5px 6px;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 20px;
    color: #606060;
    background: #fbfbfb;
    border-color: #dcdcdc;
}

input.input.span,textarea.input.span {
    display: block;
    width: 100%;
    height: 30px;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea.span.same-height-1 {
    min-height: 100px;
}

.formRow {
    clear: both;
    padding-top: 10px;
}

.formRow label {
    float: left;
}

.formRow .formRight {
    display: block;
    float: right;
    width: 80%;
}

.distance p {
    float: left;
    width: 25%;
    display: block;
}

.distance p label {
    margin-top: 2px;
    float: left;
}

.width-100 {
    width: 100%;
}

.input-valid-default input[type=checkbox],.input-valid-default input[type=radio] {
    display: block;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    font-size: 13px;
}

input[type=checkbox] + label span {
    display: inline-block;
    width: 19px;
    height: 21px;
    vertical-align: middle;
    background: url(/assets/nightsky/check_radio_sheet.png) -1px top no-repeat;
    background-size: 100px 24px;
    cursor: pointer;
}

input[type=checkbox]:checked + label span {
    background: url(/assets/nightsky/check_radio_sheet.png) -26px top no-repeat;
    background-size: 100px 24px;
}

input[type=radio] {
/*	display:none;*/
}

input[type=radio] + label {
    font-size: 13px;
}

input[type=radio] + label span {
    display: inline-block;
    width: 19px;
    height: 21px;
    margin: -1px 4px 0 0;
    padding-top: 6px;
    vertical-align: middle;
    background: url(/assets/nightsky/check_radio_sheet.png) -53px top no-repeat;
    background-size: 100px 24px;
    cursor: pointer;
}

input[type=radio]:checked + label span {
    background: url(/assets/nightsky/check_radio_sheet.png) -78px top no-repeat;
    background-size: 100px 24px;
}

.text-center {
    text-align: center;
}

.text-center img {
    width: 25%;
}

.text-right {
    text-align: right;
}

#amount,#amount2,#amount3,#amount4 {
    border: 0;
    box-shadow: none;
    width: 100px;
}

/* 5.n UI ***************************/
/* accordion */
div.accordion {
    border: 1px solid #c9c9c9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 0;
}

div.accordion-group {
    border: 0;
    margin-bottom: 0;
}

div.accordion-titleing {
    background: #f2f9fe;
    background: 0 color-stop(0%,#fafafa), color-stop(100%,#e9e9e9);
    background: linear-gradient(tobottom,#f2f9fe 0%,#fafafa 0%,#e9e9e9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f9fe',endColorstr='#e9e9e9',GradientType=0);
    border-bottom: 1px solid #c9c9c9;
    font-weight: 700;
    font-size: 14px;
}

div.accordion-titleing a {
    color: #525356;
    display: block;
    height: 27px;
    padding-top: 8px;
    padding-left: 10px;
}

div.accordion-titleing a:hover {
    text-decoration: none;
}

div.accordion-inner {
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #c9c9c9;
}

/* tabs */
.tabs-nav {
    margin-left: 0;
    margin-top: -36px;
}

.tabs-nav li {
    float: left;
}

.tabs-nav li a {
    display: block;
    color: #5f5f5f;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 10px;
    border-right: 1px solid #c9c9c9;
}

.tabs-nav li a:hover {
    text-decoration: none;
}

.tabs-nav li.active a {
    background: #fff;
}

.tabs-nav.tabs-nav-right {
    float: right;
    margin-bottom: -20px;
}

.tabs-nav.tabs-nav-right li a {
    border-left: 1px solid #c9c9c9;
    border-right: 0;
}

/* alerts */
div.alert {
    color: #fff;
    background-color: #ffa93c;
    border: 1px solid #e48002;
    padding: 7px 35px 7px 14px;
    text-shadow: none;
}

div.alert .close {
    color: #fff;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

div.alert .close:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

div.alert-success {
    background-color: #05a705;
    border-color: #028602;
}

div.alert-danger,div.alert-error {
    background-color: #ff6757;
    border-color: #d44646;
}

div.alert-info {
    background-color: #2d8aeb;
    border-color: #1465b5;
}

/* popovers */
.show-grid {
    margin-top: 10px;
    margin-bottom: 20px;
}

.show-grid [class*=span] {
    background-color: #eee;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    min-height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
}

.show-grid:hover [class*=span] {
    background: #ddd;
}

.show-grid .show-grid {
    margin-top: 0;
    margin-bottom: 0;
}

.show-grid .show-grid [class*=span] {
    background-color: #ccc;
}

.show-grid a {
    cursor: pointer;
}

/* pagination */
.pagination-desc {
    color: #353535;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* pager */
ul.pager li > a,ul.pager li > span {
    display: inline-block;
    padding: 5px 14px;
    color: #5f5f5f;
    background-color: #fbfbfb;
    border: 1px solid #dcdcdc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

ul.pager .disabled > a,ul.pager .disabled > a:hover,ul.pager .disabled > a:focus,ul.pager .disabled > span {
    color: #b2b2b2;
    cursor: default;
    background-color: #fbfbfb;
}

/* 5.o Widgets ***************************/
/*chat */
.chat {
    height: 277px;
    overflow-y: scroll;
    padding: 0 10px;
}

.chat .f-text {
    font-size: 13px;
}

.chat .f-name span {
    float: right;
    font-weight: 400;
    color: #b2b2b2;
}

.chat-form {
    margin-top: 10px;
    padding: 10px 10px 0;
    border-top: 1px solid #c9c9c9;
}

/* modal box */
div.modal-backdrop {
    position: static;
}

.btn-modal {
    text-align: center;
}

.btn-modal button {
    margin-left: 5px;
    margin-right: 5px;
}

/* comments */
.comments {
    overflow: hidden;
}

.comment {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -1px;
}

.comment-info-1 {
    float: left;
}

.comment-avatar {
    border: 1px solid #5d5d5d;
    height: 60px;
    width: 60px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
}

.comment-info-2 {
    margin-left: 80px;
}

.comment-name {
    color: #5f5f5f;
    font-size: 14px;
    font-weight: 700;
    margin-top: 8px;
}

.comment-date {
    margin-top: 5px;
    color: #5f5f5f;
}

a.comment-link {
    color: #2d8aeb;
    display: block;
    margin-top: 5px;
}

a.comment-link:hover {
    text-decoration: none;
    color: #2d8aeb;
}

/* news */
.news-list {
    overflow: hidden;
}

.news {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -1px;
}

.news-info-1 {
    float: left;
}

.news-avatar {
    border: 1px solid #5d5d5d;
    height: 60px;
    width: 60px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
}

.news-info-2 {
    margin-left: 80px;
}

.news-text {
    margin-top: 5px;
    color: #5f5f5f;
}

a.news-link {
    color: #2d8aeb;
    display: block;
    margin-top: 5px;
}

a.news-link:hover {
    text-decoration: none;
    color: #2d8aeb;
}

/* 5.p Buttons ***************************/
.seperator_dashed {
    border-top: 1px dashed #E7E7E7;
    margin-top: 10px;
    margin-bottom: 10px;
}

.metro.btn,.metro.btn.dropdown-toggle .metro.btn:active,.metro.btn.active,.metro.btn.disabled,.metro.btn[disabled] {
    background-color: #fafafa;
    background-color: #fafafa;
    background-image: 0;
    background-image: 0 to(#fafafa);
    background-image: 0;
    background-image: 0;
    background-image: linear-gradient(tobottom,#fafafa,#fafafa);
    border-color: #d4d4d4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa',endColorstr='#fffafafa',GradientType=0);
}

.metro.btn:hover,.metro.btn:focus {
    background-color: #fafafa;
    opacity: 0.9;
}

.metro.btn-primary,.metro.btn-primary:hover,.metro.btn-primary:focus,.metro.btn-primary.dropdown-toggle .metro.btn-primary:active,.metro.btn-primary.active,.metro.btn-primary.disabled,.metro.btn-primary[disabled] {
    background-color: #0393ec;
    background-image: 0 to(#0393ec);
    background-image: linear-gradient(tobottom,#0393ec,#0393ec);
    border-color: #006cb7;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0393ec',endColorstr='#ff0393ec',GradientType=0);
}

.metro.btn-success,.metro.btn-success:hover,.metro.btn-success:focus,.metro.btn-success.dropdown-toggle .metro.btn-success:active,.metro.btn-success.active,.metro.btn-success.disabled,.metro.btn-success[disabled] {
    background-color: #00a501;
    background-image: 0 to(#00a501);
    background-image: linear-gradient(tobottom,#00a501,#00a501);
    border-color: #008500;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00a501',endColorstr='#ff00a501',GradientType=0);
}

.metro.btn-warning,.metro.btn-warning:hover,.metro.btn-warning:focus,.metro.btn-warning.dropdown-toggle .metro.btn-warning:active,.metro.btn-warning.active,.metro.btn-warning.disabled,.metro.btn-warning[disabled] {
    background-color: #fea734;
    background-image: 0 to(#fea734);
    background-image: linear-gradient(tobottom,#fea734,#fea734);
    border-color: #e68000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffea734',endColorstr='#fffea734',GradientType=0);
}

.metro.btn-danger,.metro.btn-danger:hover,.metro.btn-danger:focus,.metro.btn-danger.dropdown-toggle .metro.btn-danger:active,.metro.btn-danger.active,.metro.btn-danger.disabled,.metro.btn-danger[disabled] {
    background-color: #f66;
    background-image: 0 to(#ff6666);
    background-image: linear-gradient(tobottom,#ff6666,#ff6666);
    border-color: #d64242;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff6666',endColorstr='#ffff6666',GradientType=0);
}

.metro.btn-inverse,.metro.btn-inverse:hover,.metro.btn-inverse:focus,.metro.btn-inverse.dropdown-toggle .metro.btn-inverse:active,.metro.btn-inverse.active,.metro.btn-inverse.disabled,.metro.btn-inverse[disabled] {
    background-color: #2d2d2d;
    background-image: 0 to(#2d2d2d);
    background-image: linear-gradient(tobottom,#2d2d2d,#2d2d2d);
    border-color: #1c1c1c;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2d2d2d',endColorstr='#ff2d2d2d',GradientType=0);
}

/* 5.p Pages Error ***************************/
.error-s {
    width: 400px;
    margin: auto;
    clear: both;
    padding-top: 130px;
}

.error-number {
    font-weight: 700;
    line-height: 1em;
    color: #ff6857;
    font-size: 160px;
    text-shadow: 0 0 0 #f86150 1px 0 #f05948 2px 0 #e95241 3px 0 #e14a39 4px 0 #da4332 5px 0 #d33c2b 6px 0 #cb3423 7px 0 #c42d1c 8px 0 #bd2615 9px 0 #b51e0d 10px 0 #ae1706 11px 0 #a60f00 12px 0 #9f0800 0 13px 0 #980100 14px 13px rgba(0,0,0,0),0px 14px 1px rgba(0,0,0,0.5),0px 0 13px rgba(0,0,0,.2);
    text-align: center;
}

.error-text {
    font-size: 24px;
    font-weight: 700;
    color: #5f5f5f;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
}

.error-more-info {
    font-size: 18px;
    color: #5f5f5f;
    margin-top: 20px;
    text-align: center;
    line-height: 24px;
    margin-left: 20px;
}

.error-buttons {
    width: 250px;
    margin-left: 50px;
}

.error-buttons .add-widget-link {
    font-weight: 400;
}

/* 5.q Page Typography ***************************/
.font-24 {
    font-size: 24px;
    line-height: 30px;
}

.label-blue {
    color: #2d8aeb;
}

.label-red {
    color: #ff6757;
}

.label-green {
    color: #05a705;
}

.label-orange {
    color: #ffa93c;
}

.label-gray {
    color: #b2b2b2;
}

div.label,span.label {
    padding: 5px 10px;
}

div.label-important,span.label-important {
    background-color: #ff6455;
}

div.label-success,span.label-success {
    background-color: #00a501;
}

div.label-warning,span.label-warning {
    background-color: #fea734;
}

div.label-info,span.label-info {
    background-color: #00b3fd;
}

.border-addres {
    border: 1px solid #c9c9c9;
    padding: 10px;
    width: 50%;
}

body blockquote p {
    font-size: 14px;
    line-height: 20px;
}

ul.unordered-list {
    display: block;
    list-style-type: disc;
}

ul.unordered-list ul {
    list-style-type: circle;
}

ol {
    display: block;
    list-style-type: decimal;
}

ul.unstyled-list {
    display: block;
    list-style-type: none;
    margin-left: 0;
}

ul.unstyled-list ul {
    list-style-type: circle;
}

dd {
    margin-bottom: 30px;
}

/* 5.r Page Charts ***************************/
.pie {
    width: 230px;
    height: 230px;
    margin: auto;
}

/* 5.s Contact LIST ***************************/
.slider {
    width: 100%;
    min-height: 250px;
    display: block;
    position: relative;
    background: #fff;
    overflow: hidden;
}

.slider ul {
    list-style: none;
    margin: 0;
}

.slider-content {
    float: left;
    width: 100%;
    display: block;
    overflow: auto;
    min-height: 250px;
}

.slider-content ul {
    margin: 0;
    float: left;
    width: 100%;
    display: block;
    position: relative;
}

.slider-content ul li {
    float: left;
    width: 100%;
}

.slider-content ul ul li a {
    padding: 5px 10px;
    display: block;
    border-bottom: 1px solid #e0e0e0;
    text-transform: capitalize;
}

.slider-content ul ul li a:hover {
    background: #fafafa;
}

.slider-content .title {
    padding: 5px 0;
    text-indent: 10px;
    background: #eaeaea;
    color: #807f7f;
    width: 100%;
    float: left;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-content .selected .title {
    background: #f6f6f6;
/* Old browsers */
    background: 0 0 rgba(234,234,234,1) 100%;
/* FF3.6+ */
    background: 0 color-stop(100%,rgba(234,234,234,1));
/* Chrome,Safari4+ */
    background: 0 0 100%;
/* Chrome10+,Safari5.1+ */
    background: 0 0 100%;
/* Opera 11.10+ */
    background: 0 0 100%;
/* IE10+ */
    background: linear-gradient(top,rgba(246,246,246,1) 0 100%);
/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',endColorstr='#eaeaea',GradientType=0);
}

.slider .slider-nav {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    background: #666;
    min-height: 250px;
    background: #f6f6f6;
    background: 0 0 rgba(234,234,234,1) 100%;
/* FF3.6+ */
    background: 0 color-stop(100%,rgba(234,234,234,1));
/* Chrome,Safari4+ */
    background: 0 0 100%;
/* Chrome10+,Safari5.1+ */
    background: 0 0 100%;
/* Opera 11.10+ */
    background: 0 0 100%;
/* IE10+ */
    background: linear-gradient(top,rgba(246,246,246,1) 0 100%);
/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6',endColorstr='#eaeaea',GradientType=0);
/* IE6-9 */
}

.slider .slider-nav ul {
    padding: 5px 0;
}

.slider .slider-nav li a {
    padding: 3px 5px;
    line-height: 13px;
    text-align: center;
    color: #807f7f;
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
}

.slider #debug {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    background: #000;
    color: #fff;
}

.slider .arrow {
    font-size: 0;
    line-height: 0;
    width: 0;
    border-bottom: 8px solid #fff;
    border-left: 5px solid #333;
    border-right: 5px solid #333;
    position: relative;
    top: 5px;
}

.slider .down {
    border-bottom: none;
    border-top: 8px solid #fff;
    top: 15px;
}

.slider .slide-up,.slider .slide-down {
    height: 30px;
    background: #333;
    text-align: center;
    cursor: pointer;
    float: right;
    width: 100%;
    position: relative;
    background: #f6f6f6;
/* Old browsers */
    background: 0 0 rgba(234,234,234,1) 100%;
/* FF3.6+ */
    background: 0 color-stop(100%,rgba(234,234,234,1));
    background: 0 0 100%;
/* Chrome10+,Safari5.1+ */
    background: 0 0 100%;
/* Opera 11.10+ */
    background: 0 0 100%;
/* IE10+ */
    background: linear-gradient(top,rgba(246,246,246,1) 0 100%);
/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#eaeaea',GradientType=0 ); 
/*	 IE6-9 */
}

.up-sl {
    background-image: url(/assets/nightsky/contact-nav.png);
    width: 28px;
    height: 14px;
    display: block;
    margin: auto;
    margin-top: 7px;
}

.down-sl {
    background-image: url(/assets/nightsky/contact-nav.png);
    background-position: 0 14px;
    width: 28px;
    height: 14px;
    display: block;
    margin: auto;
    margin-top: 7px;
}

/*-----------------------------------------------------------------------------------*/
/*	6.	Footer
/*-----------------------------------------------------------------------------------*/
.footer {
    border-top: 1px solid #cacaca;
    margin-top: 20px;
    padding-top: 10px;
}

.footer a {
    color: #5f5f5f;
}

/*-----------------------------------------------------------------------------------*/
/*	7.	Mobile version
/*-----------------------------------------------------------------------------------*/
@media screen and (max-width: 950px) {
    .logo {
        margin-left: 0;
    }
    
    .search {
        margin-left: 40px;
        margin-top: 13px;
        float: left;
    }
    
    .search input[type=text],.search input[type=text]:focus {
        width: 150px;
    }
    
    .profile-username {
        display: none;
    }
    
    /* menu hide */
    #menu-link {
        display: block;
    }
    
    #main .block {
        padding-right: 20px;
    }
    
    #wrap {
        left: 0;
    }
    
    .js-advanced #wrap {
        -webkit-transition: 0 500ms ease;
        -moz-transition: 0 500ms ease;
        -o-transition: 0 500ms ease;
        transition: transform 500ms ease;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .js-advanced #menu {
        left: 0;
        -webkit-transform: translate3d(-280px,0,0);
        -moz-transform: translate3d(-280px,0,0);
        -ms-transform: translate3d(-280px,0,0);
        -o-transform: translate3d(-280px,0,0);
        transform: translate3d(-2840px,0,0);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .js-advanced #menu .block {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
        opacity: 0.7;
        -webkit-transition: opacity 300ms 100ms 0 500ms ease;
        -webkit-transition-delay: ease, 0;
        -moz-transition: opacity 300ms 100ms ease, 0 500ms ease;
        -o-transition: opacity 300ms 100ms ease, 0 500ms ease;
        transition: opacity 300ms 100ms ease, transform 500ms ease;
        -webkit-transform-origin: 100% 50%;
        -moz-transform-origin: 100% 50%;
        -ms-transform-origin: 100% 50%;
        -o-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
        -webkit-transform: translate3d(70%,0,0) scaleX(0.9) scaleY(0.9);
        -moz-transform: translate3d(70%,0,0) scaleX(0.9) scaleY(0.9);
        -ms-transform: translate3d(70%,0,0) scaleX(0.9) scaleY(0.9);
        -o-transform: translate3d(70%,0,0) scaleX(0.9) scaleY(0.9);
        transform: translate3d(70%,0,0) scaleX(0.9) scaleY(0.9);
    }
    
    .js-basic.js-menu #wrap {
        left: 280px;
    }
    
    .js-advanced.js-menu #wrap {
        -webkit-transform: translate3d(280px,0,0);
        -moz-transform: translate3d(280px,0,0);
        -ms-transform: translate3d(280px,0,0);
        -o-transform: translate3d(280px,0,0);
        transform: translate3d(280px,0,0);
    }
    
    .js-advanced.js-menu #menu .block {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

}

@media screen and (max-width: 768px) {
    a.process-action {
        float: none;
        margin-top: 20px;
    }
    
    .stats-box {
        margin-top: 10px;
    }
    
    .stats-box .span4 {
        margin-top: 30px;
    }
    
    .quick-stats-box {
        margin-top: 30px;
    }
    
    .quick-stats-box .span3 {
        margin-top: 10px;
    }
    
    ul.thumbnails {
        margin-left: 0;
    }
    
    ul.thumbnails > li {
        margin-left: 10px;
    }
    
    .formRow .formRight {
        width: 100%;
    }

}

@media screen and (max-width: 720px) {
    .search {
        display: none;
    }
    
    td.fc-header-right {
        margin-top: 55px;
        margin-left: -300px;
    }

}

@media screen and (max-width: 500px) {
    .dropdown-toggle.head-button-link {
        display: none;
    }

}

@media screen and (max-width: 320px) {
    .pagetitle h1 {
        margin-top: 30px;
    }
    
    .pagetitle .btn-group {
        display: none;
    }
    
    .profile-caret {
        margin-right: 4px;
        padding-left: 4px;
    }
    
    .logo {
        margin-left: -10px;
    }
    
    .date-title {
        font-size: 11px;
    }
    
    .information-data-2 .date-figures {
        font-size: 18px;
    }
    
    .def {
        display: none;
    }
    
    input[type=text].input-date {
        width: 200px;
        margin-bottom: 10px;
    }
    
    .select-active {
        margin-top: -15px;
        margin-bottom: 10px;
    }
    
    .select-active .chosen_select {
        width: 240px;
    }
    
    .list-visitor li {
        text-align: center;
    }
    
    .list-visitor li .linecustom,.list-visitor li .sparkbar {
        display: block;
        margin-bottom: 10px;
    }
    
    .list-visitor li .number {
        float: none;
        display: block;
        margin-top: 10px;
    }
    
    .f-actions a {
        padding: 10px 3px;
    }
    
    .information-box-3 .item {
        float: none;
        width: 100%;
        border-left: 0;
    }
    
    a.process-action {
        width: 100%;
        float: none;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    
    a.p_link_upload {
        float: none;
        display: inline-block;
        margin-bottom: 20px;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    
    ul.thumbnails {
        margin-left: 30px;
    }
    
    td.fc-header-right,span.fc-button {
        display: none;
    }
    
    .distance p {
        float: none;
        width: 100%;
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .distance-2 p {
        float: left;
        width: 100%;
        display: block;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .btn-modal button {
        margin-bottom: 10px;
    }
    
    .buttons-mob .btn {
        margin-bottom: 10px;
    }
    
    .error-s {
        width: 280px;
    }
    
    .error-number {
        font-size: 100px;
    }
    
    .error-text {
        font-size: 20px;
    }
    
    .error-more-info {
        font-size: 18px;
        margin-left: -20px;
    }
    
    .error-buttons {
        width: 250px;
        margin-left: -10px;
    }
    
    .hidden-mobile {
        display: none;
    }
    
    .paging_full_numbers a {
        margin-bottom: 5px;
    }
    
    .dataTables_filter input[type=text] {
        width: 80px;
    }

}

/*-----------------------------------------------------------------------------------*/
/*	8.	IE8 STYLE
/*-----------------------------------------------------------------------------------*/
/*@media \0screen {
    html,body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    
    .logo {
        background: url(/assets/nightsky/ie/logo.png) no-repeat;
    }
    
    .main-menu li a i.general {
        background: url(/assets/nightsky/ie/icon/general.png);
    }
    
    .main-menu li a i.components {
        background: url(/assets/nightsky/ie/icon/components.png);
    }
    
    .main-menu li a i.forms {
        background: url(/assets/nightsky/ie/icon/forms.png);
    }
    
    .main-menu li a i.statistics {
        background: url(/assets/nightsky/ie/icon/statistics.png);
    }
    
    .main-menu li a i.pages {
        background: url(/assets/nightsky/ie/icon/pages.png);
    }
    
    .main-menu li a i.tables {
        background: url(/assets/nightsky/ie/icon/tables.png);
    }
    
    .main-menu li a i.bonus {
        background: url(/assets/nightsky/ie/icon/bonus.png);
    }
    
    .triangle-2,.triangle,.triangle-3 {
        background-image: url(/assets/nightsky/ie/triangle.png);
    }
    
    .settings-link {
        background-image: url(/assets/nightsky/ie/settings/6.png);
    }
    
    .settings-link.yellow {
        background-image: url(/assets/nightsky/ie/settings/1.png);
    }
    
    .settings-link.red {
        background-image: url(/assets/nightsky/ie/settings/2.png);
    }
    
    .settings-link.purple {
        background-image: url(/assets/nightsky/ie/settings/3.png);
    }
    
    .settings-link.green {
        background-image: url(/assets/nightsky/ie/settings/4.png);
    }
    
    .settings-link.blue {
        background-image: url(/assets/nightsky/ie/settings/5.png);
    }
    
    .head-button-link {
        background-image: url(/assets/nightsky/ie/icon_message.png);
    }
    
    .head-button-link.notification {
        background-image: url(/assets/nightsky/ie/icon_notification.png);
    }
    
    .head-button-link.config {
        background-image: url(/assets/nightsky/ie/icon_config.png);
    }
    
    .head-button-link.menu-hide {
        background-image: url(/assets/nightsky/ie/icon_menu.png);
    }
    
    .note-done {
        background: url(/assets/nightsky/ie/icon/icon_cont_check.png);
    }
    
    .no-done .note-done {
        background: url(/assets/nightsky/ie/icon/icon_cont_close.png);
    }
    
    .p_actions a.p_delete {
        background: url(/assets/nightsky/ie/icon/photo_delete.png);
    }
    
    .p_actions a.p_edit {
        background: url(/assets/nightsky/ie/icon/photo_edit.png);
    }
    
    .p_actions a.p_zoom {
        background: url(/assets/nightsky/ie/icon/photo_zoom.png);
    }
    
    .search input[type=text],.search input[type=text]:focus {
        background: url(/assets/nightsky/ie/search.png) #fff right bottom no-repeat;
        padding-top: 5px;
        height: 30px;
    }
    
    input[type=checkbox] + label span {
        background: url(/assets/nightsky/ie/check_radio_sheet.png) -1px top no-repeat;
    }
    
    input[type=checkbox]:checked + label span {
        background: url(/assets/nightsky/ie/check_radio_sheet.png) -26px top no-repeat;
    }
    
    input[type=radio] + label span {
        background: url(/assets/nightsky/ie/check_radio_sheet.png) -53px top no-repeat;
    }
    
    input[type=radio]:checked + label span {
        background: url(/assets/nightsky/ie/check_radio_sheet.png) -78px top no-repeat;
    }

}
*/
