%h2
  = t(:show, :default => "Show")
  = t(:property, :default => "property")
%p
  %b
    = t(:name, :default => "Name")
    \:
  = @property.name
%p
  %b
    = t(:enabled, :default => "Enabled")
    \:
  = t((@property.enabled ? "yes".to_sym : "no".to_sym))
/ Beautiful_scaffold - AddField - Field - Do not remove
= link_to t(:edit, :default => "Edit"), edit_admin_property_path(@property), :class => "btn"
= link_to t(:back, :default => "Back"), admin_properties_path, :class => "btn"
