%h2
  = t(:treeview, :default => 'Treeview')
  = t(:property, :default => "property")
#treeview
  %ul
    - Property.transaction do
      - ar = Property.where(:property_id => nil)
      - ar = ar.order("position") if Property.column_names.include?("position")
      - for g in ar.all
        = build_treeview(g, 'properties')
- namespace_for_url = "admin/"
- plural_model_name = "properties"
- model_name        = "property"
- opened_node       = Property.select(:id).all.map{ |g| '"treeelt_' + g.id.to_s + '"' }.join(',').html_safe
= render :partial => "layouts/treeview_js", :locals => { :model_name => model_name, :plural_model_name => plural_model_name, :opened_node => opened_node, :namespace_for_url => namespace_for_url }
