/ Beautiful Scaffold Menu Do Not Touch This
%li{class: (current_page?(admin_subcategories_path) || current_page?(admin_search_subcategories_path))  && 'active'}
  = link_to t(:subcategories, :default => "subcategories").capitalize, admin_subcategories_path
%li{class: (current_page?(admin_categories_path) || current_page?(admin_search_categories_path)) && 'active'}
  = link_to t(:categories, :default => "categories").capitalize, admin_categories_path
%li{class: (current_page?(admin_swapitems_path) || current_page?(admin_search_swapitems_path)) && 'active'}
  = link_to t(:swapitems, :default => "swapitems").capitalize, admin_swapitems_path
%li{class: (current_page?(admin_roles_path) || current_page?(admin_search_roles_path)) && 'active'}
  = link_to t(:roles, :default => "roles").capitalize, admin_roles_path
%li{class: (current_page?(admin_users_path) || current_page?(admin_search_users_path)) && 'active'}
  = link_to t(:users, :default => "users").capitalize, admin_users_path
