  .control-group
    = f.label plural_linked_model_name.to_sym, t(plural_linked_model_name.to_sym, :default => plural_linked_model_name.capitalize), :class => "control-label"
    .controls
      %ul{:id => "#{model_name}_#{linked_model_name}_ids", :name => "#{model_name}[#{linked_model_name}_ids][]"}
        - begin
          - for elt in model_class.send(plural_linked_model_name)
            %li{"data-value" => elt.id}= elt.caption
        - rescue
  :javascript
    $('##{model_name}_#{linked_model_name}_ids').tagit({
        tagSource : function( request, response ) {
    <haml:silent>       path_namespace = '/' + namespace_bs if not namespace_bs.blank? 
    </haml:silent>      $.ajax({
            url: "#{path_namespace}/#{plural_linked_model_name}/search_and_filter.json",
            type: "POST",
            data: {
                "q[#{field_to_search_for_linked_model}_cont]" : request.term,
                "skip_save_search" : true
            },
            dataType: "json",
            success: function( data ) {
              response( $.map( data, function( item ) {
                return { label: String(item.#{field_to_search_for_linked_model}), value: item.id };
              }));
            }
          });
        },
        triggerKeys:['enter', 'comma', 'tab'],
        select : true,
        allowNewTags : false
      });
