#modal-columns.modal.hide
  .modal-header
    %button.close{"data-dismiss" => "modal", :type => "button"} ×
    %h3= t(:select_columns, :default => "Select Columns")
  .modal-body
    - for field in model_columns
      %label.checkbox
        <input type="checkbox" name="field[]" value="#{field}" #{"checked" if session[:fields][model_name.to_sym].include?(field)}> #{t(field, :default => field.capitalize)}
      %br/
  .modal-footer
    %button#filter-columns.btn.btn-primary{:type => "button"} Ok
    %button#cancel-filter-columns.btn{:type => "button"}= t(:cancel, :default => "Cancel")
  :javascript
    $('#filter-columns').on('click', function(){
      var return_json = [];
      $.each($('input[name^="field"]:checked'), function(index, value) {
        return_json.push($(value).val());
      });
      $.ajax({
        url: '/#{model_name}/select_fields',
        data: { 'fields' : return_json },
        success: function(data) {
          $('table.table th[class^="col"], table.table td[class^="col"]').css('display', 'none');
          $.each(return_json, function(index, value) {
            $('table.table th.col-' + value + ', table.table td.col-' + value).css('display', 'table-cell');
          });
          $('div[class^="col"]').css('display', 'none');
          $.each(return_json, function(index, value) {
            $('div.col-' + value).css('display', 'inline');
          });
          $('#modal-columns').modal('hide');
        }
      });
      return false;
    });
    $('#cancel-filter-columns').on('click', function(){
      $('#modal-columns').modal('hide');
      return false;
    });
