- if user_signed_in? then
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    %i.icon-user
    = current_user.caption
    %span.caret
  %ul.dropdown-menu
    %li
      %a{:href => "#"}= t(:profile, :default => "Profile")
    %li.divider
    %li= link_to t(:sign_out, :default => "Sign Out"), destroy_user_session_path, :method => :delete
