%ul.additional-menu
  %li{class: current_page?(admin_swapitems_path) && 'active'}
    = link_to admin_swapitems_path(@swapitem) do
      %i.icon-gift
      All Swapitems
  /
    <li class="<haml:loud> &amp;quot;active&amp;quot; if params[:controller] == &amp;quot;admin/roles&amp;quot; </haml:loud>">
    <haml:loud> link_to admin_roles_path(@role) do </haml:loud><haml:block><i class="icon-group"></i> Role Overview </haml:block>
    </li>
