%ul.additional-menu
  %li{class: current_page?(admin_users_path) && 'active'}
    = link_to admin_users_path(@user) do
      %i.icon-user
      User Overview
  %li{class: current_page?(admin_roles_path) && 'active'}
    = link_to admin_roles_path(@role) do
      %i.icon-group
      Role Overview
  %li{class: current_page?(admin_categories_path) && 'active'}
    = link_to admin_categories_path do
      %i.icon-sitemap
      Categories
  %li{class: current_page?(admin_subcategories_path) && 'active'}
    = link_to admin_subcategories_path do
      %i.icon-sitemap
      Sub-Categories
  %li{class: current_page?(admin_properties_path) && 'active'}
    = link_to admin_properties_path do
      %i.icon-sitemap
      Properties
