:javascript
  $(function () {
    $("#treeview")
    .jstree({
      "plugins" : [
        "themes","html_data","ui","dnd"
      ],
      "core" : {
        "initially_open" : [#{opened_node}]
      }
    })
    .bind("move_node.jstree", function (e, data) {
      data.rslt.o.each(function (i) {
        $.ajax({
          async : false,
          type: 'POST',
          url: "/#{namespace_for_url}#{plural_model_name}/" + $(this).data("id") + "/treeview_update",
            data : {
              "operation" : "move_node",
              "#{model_name}_id" : data.rslt.cr === -1 ? "" : data.rslt.np.data("id"),
              "position" : data.rslt.cp + i,
              "title" : data.rslt.name,
              "copy" : data.rslt.cy ? 1 : 0
            },
            success : function (r) {
              $(data.rslt.oc).attr("id", "treeelt_" + r.id);
              if(data.rslt.cy && $(data.rslt.oc).children("UL").length) {
                data.inst.refresh(data.inst._get_parent(data.rslt.oc));
              }
            },
            error : function (r) {
              $.jstree.rollback(data.rlbk);
            }
        });
      });
    });
    //$("#jstree-marker-line").remove();
  });
:css
  #jstree-marker-line {pointer-events: none;}
