%html{:lang => "en", :style => "background-color: #000;"}
  %head
    %meta{:charset => "utf-8"}/
    %title= yield(:title)
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "Beautiful Scaffold", :name => "description"}/
    %meta{:content => "Ich bins nur", :name => "author"}/
    %link{:href => "http://code.jquery.com/ui/1.10.2/themes/sunny/jquery-ui.css", :rel => "stylesheet"}
    /
      <haml:loud> stylesheet_link_tag 'markitup/sets/bbcode/style.css','markitup/sets/wiki/style.css','markitup/sets/markdown/style.css' </haml:loud>
      <haml:loud> stylesheet_link_tag 'markitup/sets/html/style.css','markitup/sets/textile/style.css' </haml:loud>
      <haml:loud> stylesheet_link_tag &amp;quot;markitup/skins/simple/style.css&amp;quot; </haml:loud>
    = stylesheet_link_tag "reset", "css/style", "css/bootstrap", "css/bootstrap-responsive", "datepicker"
    = stylesheet_link_tag "timepicker", "beautiful-scaffold", "tagit-dark-grey", "colorpicker", "bootstrap-wysihtml5"
    = stylesheet_link_tag "css/jquery-ui-1.10.2.custom", :media => "screen"
    = stylesheet_link_tag "css/fullcalendar", :media => "screen"
    = stylesheet_link_tag "css/chosen", :media => "screen"
    = stylesheet_link_tag "css/glisse942e"
    = stylesheet_link_tag "css/jquery.jgrowl"
    = stylesheet_link_tag "css/jquery.fancybox63b9", :media => "screen"
    = stylesheet_link_tag "css/icon/font-awesome"
    %script{:src => "http://code.jquery.com/jquery-1.9.1.js"}
    = javascript_include_tag "application"
    %script{:src => "http://code.jquery.com/ui/1.10.2/jquery-ui.js"}
    = csrf_meta_tags
    = yield :head
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    / BEGIN HEADER
    #header{:role => "banner"}
      %a#menu-link.head-button-link.menu-hide{:href => "#menu"}
        %span Menu
      %a.logo{:href => "dashboard.html"} 
      / Search
      %form.search{:action => "#"}
        %input#search{:name => "q", :placeholder => "Search...", :type => "text"}
      / Search END
      .right
        / message box
        .dropdown.left
          %a.dropdown-toggle.head-button-link{"data-toggle" => "dropdown", :href => "#"}
            %span.notice-new 3
          .dropdown-menu.pull-right.messages-list
            .triangle
            .notice-title You Have 3 Messages
            / message #1
            .notice-message
              %a.box{:href => "#"}
              .avatar
                %img{:alt => "", :src => "/assets/nightsky/avatar-2.png"}
              .info
                .author Csaba Gyulai
                .date Jan 9, 2013
                .clearfix
                .text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit.
              .clearfix
            / message #2
            .notice-message
              %a.box{:href => "#"}
              .avatar
                %img{:alt => "", :src => "/assets/nightsky/avatar-3.png"}
              .info
                .author Junkyard Sam
                .date Jan 15, 2013
                .clearfix
                .text This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit.
              .clearfix
            / message #3
            .notice-message
              %a.box{:href => "#"}
              .avatar
                %img{:alt => "", :src => "/assets/nightsky/avatar-4.png"}
              .info
                .author Lienke Raben
                .date Nov 4, 2012
                .clearfix
                .text Lorem Ipsum. Proin gravida nibh vel velit.
              .clearfix
            %a.notice-more{:href => "#"} View All Messages
        / message box end
        / notification box 
        .dropdown.left
          %a.dropdown-toggle.head-button-link.notification{"data-toggle" => "dropdown", :href => "#"}
            %span.notice-new 2
          .dropdown-menu.pull-right.messages-list
            .triangle
            .notice-title You Have 2 Notifications
            / message #1
            .notice-message
              %a.box{:href => "#"}
              .avatar
                %img{:alt => "", :src => "/assets/nightsky/avatar-5.png"}
              .info
                .author Jonas Anderson
                .date 3 hours ago
                .clearfix
                .text
                  Followed
                  %span.follow-link Dennis Salvatier
              .clearfix
            / message #2
            .notice-message
              %a.box{:href => "#"}
              .avatar
                %img{:alt => "", :src => "/assets/nightsky/avatar-6.png"}
              .info
                .author Ilias Sounas
                .date 19 hours ago
                .clearfix
                .text
                  Commented on
                  %span.comment-link Angry Cloud
              .clearfix
            / message #3
            .notice-message
              %a.box{:href => "#"}
              .avatar
                %img{:alt => "", :src => "/assets/nightsky/avatar-7.png"}
              .info
                .author Erin Hunting
                .date 19 hours ago
                .clearfix
                .text
                  Liked
                  %span.like-link Overnight work
              .clearfix
            %a.notice-more{:href => "#"} View All Notification
        / notification box end
        / profile box
        .dropdown.left.profile
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            %span.double-spacer
            .profile-avatar
              %img{:alt => "", :src => "/assets/nightsky/avatar.png"}
            .profile-username
              %span Welcome,
              = current_user.name
            .profile-caret
              %span.caret
            %span.double-spacer
          .dropdown-menu.pull-right.profile-box
            .triangle-3
            %ul.profile-navigation
              %li
                %a{:href => "#"}
                  %i.icon-user
                  My Profile
              %li
                %a{:href => "#"}
                  %i.icon-cog
                  Settings
              %li
                %a{:href => "#"}
                  %i.icon-info-sign
                  Help
              %li= link_to '<i class="icon-off"></i> Logout'.html_safe, destroy_user_session_path, :method=>'get'
        .clearfix
        / profile box end
    / END HEADER 
    #wrap
      / BEGIN SIDEBAR
      #menu{:role => "navigation"}
        %ul.main-menu
          %li
            %a{:href => "dashboard"}
              %i.general
              General
          - if current_user.has_role? :admin 
            %li{class: highlight_admin }
              = link_to admin_users_path(@user), class: "nopjax" do
                %i.pages
                Admin
          %li{class: highlight_swaps }
            = link_to admin_swapitems_path(@swapitem), class: "nopjax" do
              %i.components
              Swaps
          %li
            %a{:href => "forms.html"}
              %i.forms
              Forms
          %li
            %a{:href => "charts.html"}
              %i.statistics
              Statistics
          %li
            %a{:href => "typo.html"}
              %i.pages
              Pages
          %li
            %a{:href => "tables.html"}
              %i.tables
              Tables
          %li
            %a{:href => "contacts.html"}
              %i.bonus
              Bonus
        - if content_for?(:submenu)
          %div= yield(:submenu)
        / Upload Box
        / <div class="upload-box">Drop files <br> here to upload</div>
        / Upload Box END
        / Media Files
        .media-files
          .title Media Files
          %p This is Photoshop's version  of Lorem Ipsum.
          .media-files-info-box
            %i.icon-picture
            Photo
            %strong 35%
            .process-progress
              .advance.red{:style => "width:35%"}
          .media-files-info-box
            %i.icon-facetime-video
            Video
            %strong 43%
            .process-progress
              .advance.blue{:style => "width:43%"}
          .media-files-info-box
            %i.icon-music
            Audio
            %strong 23%
            .process-progress
              .advance.green{:style => "width:23%"}
        / Media Files END
        / Add New Widget
        %a.add-widget-link{:href => "#"} Add New Widget
        / Add New Widget END
        .clearfix
      / SIDEBAR END
      / BEGIN MAIN CONTENT
      #main{:role => "main"}
        .block
          .clearfix
          / Zone PJAX
          - if not flash[:notice].blank? then
            .alert.alert-info
              %a.close.nopjax{"data-dismiss" => "alert", :href => "#"} ×
              %h4.alert-heading Info :
              = flash[:notice]
          - if not flash[:error].blank? then
            .alert.alert-error
              %a.close.nopjax{"data-dismiss" => "alert", :href => "#"} ×
              %h4.alert-heading Info :
              = flash[:error]
          #pjax-container
            = yield
          / FIN Zone PJAX
          / BEGIN FOOTER
          .footer
            .left Copyright &copy; 2013
            .right
              %a{:href => "#"} Carpe diem
            .clearfix
          / BEGIN FOOTER END
          .clearfix
        / end .block
      / MAIN CONTENT END
    / /#wrapper
    .loader{:style => "display:none"}
      .circle
      .circle1
    /
      Le javascript
      \==================================================
    / Placed at the end of the document so the pages load faster
    /
      <script src="js/jquery.min.js"></script>
      <script src="js/jquery-ui.min.js"></script>
      
      <script src="js/bootstrap.min.js"></script>
      <script src="js/google-code-prettify/prettify.js"></script>
      
      <script src="js/jquery.flot.js"></script>
      <script src="js/jquery.flot.pie.js"></script>
      <script src="js/jquery.flot.orderBars.js"></script>
      <script src="js/jquery.flot.resize.js"></script>
      <script src="js/jquery.flot.categories.js"></script>
      <script src="js/graphtable.js"></script>
      <script src="js/fullcalendar.min.js"></script>
      <script src="js/chosen.jquery.min.js"></script>
      <script src="js/autoresize.jquery.min.js"></script>
      <script src="js/jquery.autotab.js"></script>
      <script src="js/jquery.jgrowl_minimized.js"></script>
      <script src="js/jquery.dataTables.min.js"></script>
      <script src="js/jquery.stepy.min.js"></script>
      <script src="js/jquery.validate.min.js"></script>
      <script src="js/raphael.2.1.0.min.js"></script>
      <script src="js/justgage.1.0.1.min.js"></script>
      <script src="js/glisse.js"></script>
      <script src="js/styleswitcher.js"></script>
      <script src="js/moderniz.js"></script>
      <script src="js/jquery.sparkline.min.js"></script>
      <script src="js/slidernav-min.js"></script>
      <script type="text/javascript" src="js/jquery.fancybox63b9.js?v=2.1.4"></script>
      
      <script>
      Modernizr.load([
      {
      load: [
      'js/main.js'
      ],
      complete: function()
      {
      $.fn.ready(function()
      {
      window.App.init();
      });
      }
      }
      ]);
      </script>
      <script src="js/application.js"></script>
    /
      settings infobox charts
      <script src="js/float.settings.infobox.js"></script>
