!!!
%html.body-error{:lang => "en"}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => content_for?(:description) ? yield(:description) : "Beautiful3", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title= content_for?(:title) ? yield(:title) : "Beautiful3"
    = stylesheet_link_tag "reset", "css/login", "css/bootstrap", "css/bootstrap-responsive", "css/icon/font-awesome"
    = javascript_include_tag "jquery", "bootstrap.min"
    = csrf_meta_tags
    = yield(:head)
    / Le styles
    /
      <link href="css/login.css" rel="stylesheet">
      <link href="css/bootstrap.css" rel="stylesheet">
      <link rel="stylesheet" href="css/icon/font-awesome.css">
      <link rel="stylesheet" href="css/bootstrap-responsive.css">
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body{:class => "#{controller_name} #{action_name}"}
    #wrapper
      #login.animate.form.position
        = yield
        .footer-login
          .pull-left Sign In With
          .pull-right
            %ul.social-links
              %li.facebook
                %a{:href => "#"}
                  %span facebook
              %li.twitter
                %a{:href => "#"}
                  %span twitter
              %li.google-plus
                %a{:href => "#"}
                  %span google
          .clear
